[2021-06-24 17:50] #3964 closed

[2021-06-24 17:54] akhenry commented on #3942
Potentially fixed by https://github.com/nasa/openmct/pull/3948

[2021-06-25 15:45] #3847 closed

[2021-06-25 18:32] jvigliotta commented on #3964
Verified Fixed - Testathon: 6/25/2021

[2021-06-25 18:33] nikhilmandlik commented on #3964
Verified Fixed.

[2021-06-25 18:38] #3944 closed

[2021-06-25 18:40] nikhilmandlik commented on #3942
should dismiss popup when user press 'esc',
similar to 'enter/return' press submit the form.

[2021-06-25 18:44] nikhilmandlik commented on #3847
Verified Fixed.

[2021-06-25 18:44] jvigliotta commented on #3847
Verified Fixed - Testathon: 6/25/2021

[2021-06-25 18:47] #2987 closed

[2021-06-25 18:48] #3164 closed

[2021-06-25 18:48] charlesh88 commented on #3944
Verified fixed Testathon 06-25-21

[2021-06-25 18:49] #2380 closed

[2021-06-25 18:49] kobe1104 commented on #3847
Verified fixed testathon 6/25/2021.

[2021-06-25 18:50] charlesh88 commented on #3942
Agree, that's a good idea for an enhancement, but isn't an expected behavior right now.

[2021-06-25 18:50] charlesh88 commented on #3942
Verified fixed Testathon 06-25-21

[2021-06-25 18:51] #3299 closed

[2021-06-25 18:53] kobe1104 commented on #3942
Verified fixed Testathon 6/25/2021.

[2021-06-25 18:53] charlesh88 commented on #3847
Verified fixed Testathon 06-25-21

[2021-06-25 18:55] #3697 closed

[2021-06-25 18:57] jvigliotta commented on #3697
This is out of date, we no longer have an up arrow in the tree.

[2021-06-25 19:00] nikhilmandlik commented on #2860
snapshot on /testathon, when clicked opening https://banner.ndc.nasa.gov/stable

[2021-06-25 19:03] unlikelyzero commented on #2987
Verified in 6/25

[2021-06-25 19:04] charlesh88 commented on #3299
Verified fixed Testathon 06-25-21 - nice work!

[2021-06-25 19:06] davetsay commented on #3964
verified

[2021-06-25 19:21] shefalijoshi commented on #3755
Looks good so far.

[2021-06-25 19:26] unlikelyzero commented on #3472
Still a bug and not fixed. Potential for MMGIS styling concerns to be filed separately

[2021-06-25 19:28] unlikelyzero commented on #3213
Let's retest with the viper-openmct changes in the next testathon

[2021-06-25 19:29] charlesh88 opened #3974 "[Timestrip] Zoom and pan are incorrectly disabled for Plot object views contained within a Timestrip"
### Reproduce
1. Create a Timestrip and add numeric telemetry that view as plots. Save the Timestrip.
2. In the tree, expand the Timestrip and navigate to one of the telemetry points. The main view should show a plot view.
3. Mouseover the plot and observe: no zoom buttons are displayed.
4. Try to zoom via dragging a marquee or by using the mousewheel, observe: nothing happens.

This is a side eff

[2021-06-25 19:29] unlikelyzero commented on #3755
To retest in next testathon

[2021-06-25 19:30] unlikelyzero commented on #2860
Re-open to fix

[2021-06-25 19:31] unlikelyzero commented on #3847
Closing with a secondary issue filed

[2021-06-25 19:33] unlikelyzero commented on #3942
@nikhilmandlik to file an enhancement

[2021-06-25 19:34] unlikelyzero commented on #2380
Will verify in next testathon

[2021-06-25 19:34] unlikelyzero commented on #3164
Will verify in next testathon

[2021-06-25 19:35] charlesh88 commented on #3164
Verified fixed Testathon 06-25-21.

[2021-06-25 19:39] davetsay opened #3975 "[Vue Plots] need view policy to prevent non-plottable plugin views to display as plot"
## Overview
Many custom views for types are being displayed in plot view when they are not plottable.

## Expected Behavior
Non-plottable plugin views should not have a plot view nor should it be the highest priority view

## Steps to Reproduce
1. See that types with only non-numerical telemetry do not have plot view available (may need to create an add a type if none available)

[2021-06-25 19:39] shefalijoshi commented on #3974
We're disabling gesture controls right now by looking at the objectPath and checking if there is a time strip in that path.
This may not be the best way to disable controls.
The fix might be to check that the current view is a time strip view instead.

[2021-06-25 19:43] kobe1104 opened #3976 "[User Requests] New time conductor popups should be closed by hitting ESC key"
Referring to #3311

### Testing
1. Switch to live mode by selecting 'Local Clock' at the time conductor.
2. Click on start time to open the time conductor inpouts.
Expected: The input popup should be closed when clicking ESC key.
Actual: Hitting ESC Key is not closing the input popup.

[2021-06-25 19:44] charlesh88 commented on #3974
@shefalijoshi Let me know how you want to proceed. The CSS solution will work I think, but may not be the best practice.

[2021-06-25 19:49] nikhilmandlik opened #3977 "Use escape key to dismiss dialog real time conductor dialog options"
### Description:
User should be able to dismiss time conductor options dialog using esc key.

### Testing instructions:
1. change clock to local (realtime)
2. click start time to open options dialog
3. press 'esc'

### Expected Result:
dialog should dismiss after 'esc' key press

### Actual Result:
dialog does not dismiss after 'esc' key press

### Console Errors: NA

### Screenshots:
![Screen Sho

[2021-06-25 21:07] akhenry commented on #3975
Dupe of https://github.com/nasa/openmct/issues/3977 ?

[2021-06-28 16:58] shefalijoshi opened #3979 "Copyright updates for Open MCT template (and other files)"
Copyright needs to be updated to include 2021 for some files.

[2021-06-28 17:04] #3832 closed

[2021-06-28 17:05] akhenry opened #3980 "Improve Table performance with YAMCS historical results"
Responses to requests to the YAMCS parameter archive are limited to 1000 rows. Subsequent rows can be retrieved via paging.

Some of our telemetry points produce data at ~10Hz which can result in 20000+ records, even for modest time windows like 30 minutes.

Right now the Open MCT - YAMCS telemetry adapter pages historical results in order to retrieve all of them in one go. Currently an activity s

[2021-06-28 17:07] shefalijoshi commented on #3832
Testing Instructions:
Find a plan in the VIPER Plans folder (You should try fixed timespan ranges of 2020-08-01 to 2020-09-01 OR 2023-12-01 to 2024-01-01 to display content in a plan)
Once you see the plan content
**Single activity**
  Click on either a rectangle OR the text of an activity in the plan
  The inspector should be updated to show details of the activity as shown below (including the n

[2021-06-28 17:07] akhenry commented on #3980
This has been labelled as something to fix for CDA, however this is a tentative assignment. Not all of the potential fixes here will be appropriate or achievable in the CDA timescale, so we should decide on what if any should be done for CDA.

[2021-06-28 17:36] charlesh88 opened #3981 "Plot legends are compressing and being clipped when the plot is small"
Fix plots in Display Layouts to prevent top and bottom legends from being clipped:

![image](https://user-images.githubusercontent.com/1056412/121226247-30135400-c83f-11eb-89da-f537ee549183.png)

[2021-06-28 18:55] charlesh88 opened #3982 "Notebook Snapshot menu is only updating section and page names for the editor's view"
Tiffany and I were interacting with the same Notebook section and page to discuss multi-user Notebook user tests, and while she  _did_ see updated names for the section and page in the Snapshot menu, I did not:

![Screen Shot 2021-06-28 at 11 23 27 AM](https://user-images.githubusercontent.com/1056412/123685410-84d53980-d803-11eb-9b67-30d5c43136dc.png)

This condition remained even after clearing

[2021-06-28 19:14] akhenry opened #3983 "Implement new "Remote Clock""
Right now Open MCT supports a ["local clock"](https://github.com/nasa/openmct/blob/master/src/plugins/utcTimeSystem/LocalClock.js) out of the box for realtime telemetry operations. This clock ticks on a local time source (ie. [a recurring `setTimeout` which just pulls the current time  from `Date.now()`](https://github.com/nasa/openmct/blob/master/src/plugins/utcTimeSystem/LocalClock.js#L69)).

Th

[2021-06-28 19:19] akhenry commented on #3982
[This was picked up in an earlier PR](https://github.com/nasa/openmct/pull/3295#discussion_r527015891), but it appears that due to a misunderstanding it was never actually fixed. As I mentioned in that PR, the correct approach is to only store the object identifier and resolve the object dynamically. Do not store any object properties in local storage because they are guaranteed to go stale.

[2021-06-28 20:34] nikhilmandlik commented on #3982
yes I think we made that change long time back, let me check

[2021-06-28 21:35] #3891 closed

[2021-06-28 22:41] charlesh88 opened #3986 "Drag into Iframe doesn't see mouseup event"
### Replicate
1. Create and/or navigate to a Web Page view, which uses an Iframe.
2. Click and drag to resize and expand the tree view. Observe that as you drag to the right into the Iframe's area, the tree pane will stop resizing.
3. Release the mouse to "stop" dragging, and move your cursor back into the tree area; as you do so, observe that the tree will shrink as you move the cursor (as though

[2021-06-29 14:52] #3740 closed

[2021-06-29 20:14] nikhilmandlik commented on #3959
update: looks like function `updateActionItems` inside `preview-header.vue` hides `this.actionCollection.hide(HIDDEN_ACTIONS);` some actions and actionCollection emits event `update` which again triggers this `updateActionItems` function again and so on.

[2021-06-30 22:05] #3977 closed

[2021-06-30 23:25] charlesh88 commented on #3963
@nikhilmandlik @akhenry Our package.json and 3rd party licenses info say we're using html2canvas 1.0.0-alpha.12, which dates from 2018. If this is the case, can we try updating to the current version, which is [1.0.0-rc.7](https://github.com/niklasvh/html2canvas/releases/tag/v1.0.0-rc.7) from late 2020?

[2021-06-30 23:40] akhenry commented on #3963
@charlesh88 Sure. Do it.

[2021-07-01 19:26] davetsay opened #3990 "[Inspector] Details section should be flexible in properties to display"
## Overview
The details section of the inspector only allows displaying properties of a known installed type, when it should be more flexible. A use case would be displaying different properties for different selections in views.

## Expected Behavior
Details section should display custom properties if desired, or the standard properties otherwise

## Steps to Reproduce (before)
1. select an objec

[2021-07-02 20:27] unlikelyzero opened #3992 "Overlay plots do not fetch historical data on zoom or pan"
When zooming or panning on an overlay plot, the historical data will flicker briefly before disappearing.

### Replicate
Create an Overlay Plot with enough historical data to exceed the time conductor range
Zoom or Pan out to query for historical data

Expected behavior:
Historical data to appear

Actual behavior:
When zooming or panning on an overlay plot, the historical data will flicker briefly

[2021-07-02 21:27] shefalijoshi commented on #3880
I've  noticed that when running on a local machine, Open MCT cannot be opened in more than 5 tabs even when LocalStorage is being used (instead of CouchDB) because of how webpack works.
We need a different solution for this.

The SharedWorker solution for the changes feed is a good performance improvement regardless of the tabs issue.

[2021-07-02 22:26] akhenry commented on #3956
@davetsay Unable to repro. This still an issue in latest master?

[2021-07-06 23:53] davetsay commented on #3975
I think that other issue is re: time conductor

[2021-07-07 19:58] #3959 closed

[2021-07-07 22:23] #3992 closed

[2021-07-08 16:38] shefalijoshi opened #3997 "Replace node-sass with a different library"
Node-sass is [deprecated](https://www.npmjs.com/package/node-sass) - replace it with a different library. Maybe try [sass](https://www.npmjs.com/package/sass)
You may have to replace or update the following libraries as well:

- [node-bourbon](https://www.npmjs.com/package/node-bourbon) with [bourbon](https://www.npmjs.com/package/bourbon) during this process.
- [fast-sass-loader](https://www.npmj

[2021-07-08 18:42] jvigliotta commented on #3983
## Testing
- install RemoteClock plugin with an identifier (OR view an already installed one)
- Look in the developer network tab to verify that there is a WS stream emitting time-based telemetry

[2021-07-08 19:26] unlikelyzero commented on #3982
Removing CDA Tag per @akhenry

[2021-07-08 21:14] nikhilmandlik commented on #3982
following observation after initial analysis,
1. each notebook user can have own default notebook.
1. this leads to each user can have their own default section and default page
1. so cant save default section/page on  notebook domainobject.
1. we need to store following items in localstorage
    defaultNotebook identifier
    defaultNotebook.sectionId
    defaultNotebook.pageId
1. currently stori

[2021-07-08 21:42] akhenry commented on #3982
Correct, default section and page ID cannot be persisted on the object because it differs by user.

Yeah I had some of the same concerns about those edge cases when I was recently working on Notebooks, and I was wondering whether we really want per-user a default section and default page, or whether we could just take them to the last page updated by anybody.

In any case, the use cases are easily

[2021-07-08 22:04] charlesh88 commented on #3982
I'm actually not a fan of the default Notebook stuff exactly because of the complications that ensue - but we're saddled with it. That said, users _absolutely_ must have their own. The use case here is I come on shift and create a new Notebook entry in a Notebook/section/page. All subsequent entries, snapshots, etc. must go to that page. If someone else logs in and suddenly all _my_ snapshots are

[2021-07-09 00:37] charlesh88 opened #4000 "[Snapshots] Deleting Notebook Snapshots doesn't clear out mct Local Storage"
After doing a number of Snapshots, I eventually fill Local Storage and can not take any more Snapshots:

![Screen Shot 2021-07-08 at 4 49 15 PM](https://user-images.githubusercontent.com/1056412/125006320-b4115500-e012-11eb-91ef-2db74e42dde4.png)

When a user deletes Snapshots or adds them into a Notebook they should be removed from Local Storage.

I have no other option than deleting the 'mct' el

[2021-07-09 00:41] akhenry commented on #4000
Lucky 4000!

[2021-07-09 17:38] nikhilmandlik commented on #4000
yup same issue with object deletion API.

[2021-07-09 22:07] nikhilmandlik commented on #4000
Snapshot container should not store object in couch/mct, but should hold on into local storage till moved into notebook or deleted from Snapshot container.
if moved into notebook persist that object
if deleted from Snapshot container clear it from local storage.

[2021-07-09 22:09] davetsay opened #4005 "[Telemetry Table] changing visibility of columns only happens on re-navigation"
## Overview
In edit mode of a telemetry table, toggling column visibility is not reactive. The change only takes place when navigating away from and navigating back to the table.

## Expected Behavior
Changes to column visibility in inspector should be picked up immediately by the table

## Steps to Reproduce
1. View telemetry table
2. In Edit mode, toggle column visibility from the inspector
3. O

[2021-07-09 22:10] nikhilmandlik opened #4006 "Add mock test data for showing compass on example imagery"
### Description:
when running openmct locally there is now compass on imagery view.

### Testing instructions:
1. Create example imagery
2. check to see if compass data visible or not.

### Expected Result:
Shows a compass with related data on imagery view (example imagery)

### Console Errors: NA

[2021-07-09 22:13] #4006 closed

[2021-07-09 22:25] akhenry opened #4007 "Snapshot images should use the namespace of the notebook they are being saved to, or LocalStorage"
Snapshot images are being saved as domain objects in order to reduce the size of notebook objects. Currently [they are always being saved to the default namespace](https://github.com/nasa/openmct/blob/master/src/plugins/notebook/utils/notebook-image.js#L9) however. Open MCT supports multiple namespaces, and does not require a default namespace to be configured, so this assumption will fail in some

[2021-07-09 22:27] akhenry commented on #4000
@nikhilmandlik I have created a closely related issue for the namespace problem - https://github.com/nasa/openmct/issues/4007

[2021-07-09 23:22] charlesh88 commented on #3963
### Testing Notes
1. Go to an Example Imagery view. Size the browser and view such that the image itself is at least 500px across.
2. Verify that the compass rose is visible and looks like the image below.
![Screen Shot 2021-07-09 at 4 00 01 PM](https://user-images.githubusercontent.com/1056412/125143418-7de5db00-e0cf-11eb-8cf6-9723fa6e6456.png)
3. Click the compass rose and verify that it rotates

[2021-07-10 00:34] akhenry opened #4008 "Tables should use telemetry formatter for determining bounded telemetry sort order"
Telemetry Tables always maintain telemetry sorted by timestamp so that date comparisons can be done performantly when telemetry needs to be added to, or removed from the table on bounds changes. Tables will [use the `parse` function of telemetry formatters to convert the wire format of a telemetry value to a number for comparison](https://github.com/nasa/openmct/blob/master/src/plugins/telemetryTa

[2021-07-10 00:58] akhenry opened #4009 "Tables should abort requests for historical telemetry"
When the user navigates away from a telemetry table, or when they change the time bounds, any outstanding historical telemetry requests should be aborted.

[2021-07-10 01:03] #3963 closed

[2021-07-10 02:13] davetsay opened #4010 "[Plots] user request to have larger color palette"
## Overview
At some amount of telemetry points (exact number unknown to me at this point...), the colors for the plot legend/points/lines start to be recycled. Some missions have a need to plot 30+ (maybe even 50+) telemetry points in one plot.

## Expected Behavior
All telemetry points have a unique color assigned to it and no colors are recycled

## Steps to Reproduce
1. Create an overlay plot
2

[2021-07-10 02:14] davetsay commented on #4010
@shefalijoshi , @charlesh88 , not sure if this is even reasonable for the human eye to plot this many colors... but we should look into at least estimating work to accomplish this. Request from user.

[2021-07-12 18:31] #3921 closed

[2021-07-12 18:34] #3909 closed

[2021-07-12 18:38] akhenry commented on #3921
Verified fixed

[2021-07-12 18:47] akhenry commented on #3992
Verified Fixed

[2021-07-12 18:51] nikhilmandlik commented on #3992
Verified Fixed.

[2021-07-12 18:52] akhenry commented on #3942
Verified Fixed

[2021-07-12 18:54] charlesh88 commented on #3909
Verified fixed Testathon 07-12-21. Issue seen with Painterro custom checkboxes, new issue to be filed.

[2021-07-12 18:55] shefalijoshi commented on #3921
Verified fixed

[2021-07-12 18:57] shefalijoshi commented on #3942
Verified fixed

[2021-07-12 19:01] charlesh88 opened #4011 "Painterro custom checkbox controls don't display properly"
Seen on banner/testathon 7-12-21:
![Screen Shot 2021-07-12 at 11 44 07 AM](https://user-images.githubusercontent.com/1056412/125341264-49109880-e308-11eb-98f9-6b185efc8976.png)

Same branch (1.7.4-stable) running locally doesn't have the problem:
![image](https://user-images.githubusercontent.com/1056412/125341713-cb00c180-e308-11eb-8723-14d6c6734357.png)

[2021-07-12 19:01] davetsay opened #4012 "[Snapshots] snapshot of folder object resulted in console error"
## Overview
Logged into deployment. Navigated to folder. Tried to take a snapshot and save to snapshot container. Could not replicate after initial error.

Error notification in UI.
Error in console (shown below).

## Expected Behavior
Snapshots should save to container.

## Steps to Reproduce
1. Snapshot
2. 😮

[code]

[2021-07-12 19:02] charlesh88 commented on #3921
Verified fixed Testathon 07-12-21

[2021-07-12 19:02] nikhilmandlik commented on #3964
Verified Fixed. No couch related errors.

[2021-07-12 19:02] charlesh88 commented on #3942
Verified fixed Testathon 07-12-21

[2021-07-12 19:03] akhenry commented on #3954
Verified Fixed.

[2021-07-12 19:05] nikhilmandlik commented on #3942
When  real-time mode Time Conductor time input popup is open and when you click on local clock input popup is still on screen (it should dismiss)

[2021-07-12 19:09] nikhilmandlik commented on #3921
Verified Fixed.

[2021-07-12 19:13] charlesh88 commented on #3954
Not fixed, Testathon 07-12-21 - still seeing persistence errors: https://banner.ndc.nasa.gov/testathon/#/browse/mine/a5e28f1a-4a53-4f0e-bfe4-6205e3d0de4f/d825d32c-abf9-4d9a-b172-2b357e1ffb16/5a1e5f93-81ae-4ff8-80ea-ad97f2f686cf/ca7b071b-c0e1-42be-8d06-67b4dc6bf98b?tc.mode=local&tc.startDelta=1200000&tc.endDelta=15000&tc.timeSystem=utc&view=flexible-layout&pageId=0bb32a05-5190-4e46-b9c6-2789c84ad49

[2021-07-12 19:15] davetsay commented on #3909
verified...

but ran into unreplicatable snapshot bug #4012

[2021-07-12 19:15] nikhilmandlik commented on #3909
Verified Fixed. other than font issue @charlesh88  mentioned above.

[2021-07-12 19:17] unlikelyzero commented on #3942
Leaving open to fix outside of CDA Testathon

[2021-07-12 19:25] akhenry commented on #3959
Verified Fixed.

[2021-07-12 20:32] nikhilmandlik opened #4013 "Display Layout snapshot issue"
### Description:
Snapshot images not showing line from 'Display Layout'

### Testing instructions:

1. Create 'Display Layout'
2. Add line to 'Display Layout'
3. Take a snapshot and open it

### Expected Result:
Show line inside a snapshot

### Actual Result:
line missing inside a snapshot

### Console Errors: NA

### Screenshots:
![Screen Shot 2021-07-12 at 1 27 14 PM](https://user-images.githubu

[2021-07-13 17:37] unlikelyzero commented on #3472
@davetsay will take a look at this. We should update the severity of the issue and understand what can be done in this specific Display Layout case and the general case.

[2021-07-13 17:41] shefalijoshi commented on #3891
Verified fixed.

[2021-07-13 17:42] davetsay commented on #4006
verified

[2021-07-13 17:45] unlikelyzero commented on #3977
Verified that the escape key allows the user to dismiss time conductor with and without modification

[2021-07-13 17:46] davetsay commented on #3740
verified

[2021-07-13 17:47] shefalijoshi commented on #3740
Verified fixed

[2021-07-13 17:49] davetsay commented on #3891
verified

[2021-07-13 17:49] tiffanyatruong commented on #3891
verified fixed

[2021-07-13 17:51] unlikelyzero commented on #2380
@kobe1104 and @davetsay to retest in VISTA next testathon

[2021-07-13 17:52] shefalijoshi commented on #3977
This works in local clock mode but not in fixed timespan mode for datetime picker. If thats ok then this is verified.

[2021-07-13 17:52] jvigliotta commented on #3963
Verified - Testathon 7/13/2021

[2021-07-13 17:56] davetsay commented on #3977
verified

[2021-07-13 17:56] nikhilmandlik commented on #3740
Verified Fixed.

[2021-07-13 17:57] kobe1104 commented on #3963
For step 4, the notebook snapshot image looks different than the browser. The whole image including compass rose and HUD element is different.

[2021-07-13 18:04] davetsay opened #4017 "[Time Conductor] zoom/pan in realtime plot removed on time conductor input click"
## Overview
Zoom/Pan state is lost when clicking on time conductor inputs in realtime mode.

## Expected Behavior
Zoom/Pan state should only be reset if start end values are saved

## Steps to Reproduce
1. Navigate to a plot
2. Go to realtime mode if not already
3. Zoom or pan plot
4. Click on start or end input and see that zoom/pan state is lost
5. For comparison go to fixed time mode and repeat

[2021-07-13 18:08] charlesh88 commented on #3755
Verified fixed Testathon 07-13-21
![image](https://user-images.githubusercontent.com/1056412/125503337-0bbc20d2-4c4d-4b82-b0b9-4696bf3d3f31.png)

[2021-07-13 18:11] jvigliotta commented on #3832
Found a possible issue, most everything looks great, but when I select one item like below:
![Screen Shot 2021-07-13 at 11 06 13 AM](https://user-images.githubusercontent.com/12013460/125503410-8dbc2f35-c536-470a-8203-77202a21b197.png)

The total duration is 2hrs +

When I select a longer one with overlap like below:
![Screen Shot 2021-07-13 at 11 07 12 AM](https://user-images.githubusercontent.co

[2021-07-13 18:17] nikhilmandlik commented on #3832
Tested with,
VIPER Sample Plan 2023-12-26 19:18:49.286Z - 2023-12-27 22:37:31.269Z
2024-02-17 17:53:59.469Z                    2024-02-18 17:53:59.469Z

We should add `cursor: pointer;` and also should show selected activity name in inspector

Also issue @jvigliotta mentioned

[2021-07-13 18:25] unlikelyzero commented on #3832
@unlikelyzero  to file the bug and enhancements identified in this ticket

[2021-07-13 18:26] unlikelyzero commented on #3963
Will leave as unverified and @kobe1104  and @charlesh88  to meet before July 16

[2021-07-13 18:27] unlikelyzero commented on #3977
Closing and @davetsay  to file a follow up bug

[2021-07-13 18:53] akhenry opened #4018 "[Snapshots] Snapshot images should allow copying"
The dialog for viewing snapshot images currently displays the image using a background image, rather than an image element. This prevents the user from right clicking and copying the image.

eg.

![Screen Shot 2021-07-13 at 11 50 46 AM](https://user-images.githubusercontent.com/4215777/125508569-f458c054-07be-4c16-880c-bb2c1bf80833.png)

In the image above the "copy image" option is missing from t

[2021-07-13 21:35] davetsay commented on #3758
@kobe1104 , per our conversation with @charlesh88  and @nikhilmandlik , let's make the state of the application the state of the url. So we should not remove the params hideTree and hideInspector programatically after hiding the panes.

[2021-07-13 21:50] kobe1104 commented on #3963
After discussion with @charlesh88 and @nikhilmandlik the functionality of the 'Preview' button is by design.

[2021-07-13 23:06] charlesh88 opened #4019 "[Painterro] Painterro text input not being removed after annotating Snapshot"
Seen on /stable 1.7.5 and current master running locally.

### Reproduce
1. Create a new Snapshot, click it and get to the annotation interface.
2. Add a text element:

![Annotation Open MCT](https://user-images.githubusercontent.com/1056412/125536136-bffc8849-f245-46b7-8369-655cf8c03ef7.png)

3.  Save the annotation and exit the Snapshot overlay dialog. Note at the very bottom of the tree on the

[2021-07-14 00:29] nikhilmandlik commented on #4019
created issue for painterro, https://github.com/devforth/painterro/issues/150

[2021-07-14 16:26] #3860 closed

[2021-07-14 16:26] #3939 closed

[2021-07-14 17:50] nikhilmandlik commented on #4019
They have fixed this issue in new version v1.2.58

[2021-07-14 21:14] davetsay commented on #3956
@akhenry , turns out clicking on missing items in the tree was not de-selecting the context menu. That's probably okay so I'll close.

[2021-07-14 21:14] #3956 closed

[2021-07-15 00:22] unlikelyzero opened #4023 "[Tests] Re-enable recently skipped tests"
In order to unblock the build, we had to disable some tests:

https://github.com/nasa/openmct/blob/b3ceccd7fbe7cbc40337192756ca70353b9271e9/src/plugins/plot/pluginSpec.js#L574 and
ApplicationRouter tests https://github.com/nasa/openmct/pull/3973

This ticket captures the work necessary to re-enable the tests

[2021-07-15 01:12] #3975 closed

[2021-07-15 12:41] unlikelyzero commented on #4012
@davetsay I just attempted and could not reproduce

[2021-07-15 17:09] #3986 closed

[2021-07-15 18:42] nikhilmandlik opened #4026 "Configurable example imagery"
### Description:
Add following configurable options for example imagery,

- [x] Images url list (comma separated)
- [x] Image load delay (milliSeconds)

### Testing instructions:
1. create example imagery with name 'default imagery' and leave `Images url list (comma separated)` and `Image load delay (milliSeconds)` field empty
1. create example imagery with name 'custom 1 imagery' and  add  5000 f

[2021-07-15 21:00] davetsay opened #4028 "[Legacy] Timeline bundle should be removed"
## Overview
Legacy Timeline has been deprecated for 3+ years and should be removed.

* [Old issues](https://github.com/nasa/openmct/issues?q=is%3Aissue+is%3Aopen+timeline) should be cleaned up
* Do users filing issues for legacy timeline need to be alerted?
* Do users need additional notification?
* Do legacy objects need to be exportable and importable as new timeline object?

## Expected Behavio

[2021-07-15 22:10] Voreck opened #4029 "Dictionary not found"
I'll preface this with: Im pretty new to Javascript, node and pretty much everything. I've followed the tutorial and now am trying to do something myself. Form [here](https://github.com/nasa/openmct/issues/3159) i've gathered that i cant use the http thing from the tutorial.

so im doing this
[code]

but i get `plugin.js?2852:3 GET http://localhost:8080/dictionary.json 404 (Not Found)`

Im sure im

[2021-07-15 23:26] davetsay commented on #3983
@akhenry , will this also cover the current clock functionality so that the clock bundle can be replaced by this? Or, is this a new type?

[2021-07-15 23:27] akhenry commented on #3983
This is a new type of clock, it doesn't replace anything. It's an alternative to the LocalClock.

[2021-07-16 08:33] Voreck commented on #4029
For now as a workaround I hardcoded the json but that cant be the solution

[2021-07-16 16:00] unlikelyzero commented on #4029
@Voreck could you post your code so we can try to reproduce

[2021-07-16 17:00] #3954 closed

[2021-07-16 17:21] unlikelyzero commented on #4026
Re-opening to address in Target:1.7.6 Release

[2021-07-16 18:02] #4017 closed

[2021-07-16 18:09] jvigliotta commented on #4017
Verified - Testathon 7/16/2020

[2021-07-16 18:12] nikhilmandlik commented on #4017
Verified Fixed.

[2021-07-16 18:31] nikhilmandlik commented on #3954
Verified Fixed.

[2021-07-16 18:38] unlikelyzero commented on #3954
We have retested this on 1.7.5, if these areas appear again, please reopen

[2021-07-16 18:44] unlikelyzero commented on #3942
Renamed and reopened to describe the problem

[2021-07-17 13:35] unlikelyzero opened #4035 "[Tests] Add license checker to eslint"
I stumbled upon this eslint rule for a license file. Would be useful to ensure that all of our files have the NASA org text. https://github.com/elastic/apm-agent-rum-js/blob/master/scripts/eslint-rules/require-license-header.js

[2021-07-17 18:46] Voreck commented on #4029
This all lies in opencmt/src/plugins/my-plugin/src/plugin.js (Idk if thats the right place to put it, I just did what seemed right to me

[code]

I've tried both simply dictionary.json as well as src/plugins/my-plugin/src/dictionary.json which is where the file lies

[2021-07-17 20:55] davetsay opened #4036 "[Plots] Plot view in VISTA broken because limits() changed to thenable"
## Overview
Channel plot view in VISTA does not load at all and has a console error. Telemetry Table view works fine.

## Expected Behavior
Channels load plot view as normal

## Steps to Reproduce
1. Navigate to a channel in VISTA, or a legacy style domain object with a "limit" capability.

[code]

[2021-07-18 16:05] Voreck commented on #4029
I found another, similar behaviour: I "installed" my plugin by mimicing what i saw in the plugins.js. But if I try to install it the way its installed in the tutorial, through the script tag and the install function I get a 404 at the script tag

[2021-07-18 20:01] davetsay opened #4037 "[LAD Table Set] Rows do not have correct height"
## Overview
Rows are stretching to fit the table size instead of having fixed height.

## Expected Behavior
Rows should have set height and not be stretched

## Steps to Reproduce
1. Create a LAD Table Set
2. Observe height of header row
3. Add a LAD Table to the LAD Table Set
4. Observe height of header rows and data rows

![image](https://user-images.githubusercontent.com/3614296/126080448-d9760

[2021-07-18 20:02] davetsay commented on #4037
@charlesh88 , I assume this is a bug but just wanted to double check with you first. cc: @jvigliotta

[2021-07-18 22:07] davetsay commented on #4036
This can be fixed in VISTA by changing the `limits()` call to return a `promise`.

Maybe something that should be put into release notes, although I think that would have to be retroactively added to 1.7.4.

[2021-07-19 15:09] akhenry opened #4038 "[Code cleanup] Remove legacy about dialog"
Any code associated with the [legacy Open MCT "about" dialog bundle](https://github.com/nasa/openmct/blob/master/platform/commonUI/about/bundle.js) should be removed as it's no longer in use.

[2021-07-19 15:16] akhenry opened #4039 "Re-implement image export as ES6 class"
Image export from plots etc. currently depends upon [an Angular managed service](https://github.com/nasa/openmct/blob/master/src/adapter/bundle.js#L89). This service should be reimplemented as an ES6 class  and imported wherever it is needed in our new codebase (ie. search for usage under `/src/..`).

The old behavior was that of a singleton service managed by Angular, but since this service needs

[2021-07-19 15:31] unlikelyzero opened #4040 "[Tests] e2e smoke tests"
We have run into a few issues which could have been easily detected with e2e smoke tests but would not have been detected with our existing test tooling.

We will also need contract in place to ensure that the performance tests (written in playwright) due to break due to simple functional changes.

### Strategy
e2e tests should not be used as a substitute for unit tests. e2e tests be used sparingl

[2021-07-19 15:58] akhenry opened #4041 "Reimplement in-memory search indexer"
Open MCT object providers may define an optional `search` function if the associated persistence store supports search. eg. [our Couch DB object provider will use Couch DB's `find` API to return objects matching the provided search term](https://github.com/nasa/openmct/blob/master/src/plugins/persistence/couch/CouchObjectProvider.js#L240).

Open MCT also implements a fallback search provider for a

[2021-07-19 16:30] akhenry opened #4042 "Re-implement Clock object and indicator in Vue.js"
[The existing Clock object](https://github.com/nasa/openmct/blob/master/platform/features/clock/bundle.js#L189) and the [associated indicator](https://github.com/nasa/openmct/blob/master/platform/features/clock/bundle.js#L77) are currently implemented as a legacy bundle and [written in Angular.js](https://github.com/nasa/openmct/blob/master/platform/features/clock/src/controllers/ClockController.j

[2021-07-19 16:49] akhenry opened #4043 "Enhance clock object and indicator to follow any registered clock"
We want to add the ability for Clock objects and the clock indicator to follow any clock registered with the Time API. In essence the Clock Object would just become a view for the Time API's own concept of a Clock, hopefully resolving some confusion between the two concepts.

Need to discuss details with @charlesh88.

We also need to decide what the default behavior of the clock indicator is. Mayb

[2021-07-19 16:59] kobe1104 commented on #3758
### Testing instructions:
1. At openmct, add '&hideTree=true' and/or '&hideInspector=true' to the end of the url.
2. The corresponding pane collapses.
2. Refresh the page. The panes from step 2 stay collapsed and the params from step 1 persist.
3. Clicking the collapse button on the panes will add the hide params, and expanding the panes will remove hide params.

[2021-07-19 17:01] #3758 closed

[2021-07-19 17:46] akhenry commented on #4036
Perhaps if we fix this in the Telemetry API we can avoid making a breaking change to our API. The Telemetry API could check the return type of the limits object and if it's not a Promise, it could be wrapped in `Promise.resolve()`.

[2021-07-19 18:20] davetsay commented on #4036
Ok. Will do.

[2021-07-19 19:26] jvigliotta commented on #4037
@davetsay WHOA, that's a big row. Seems like a solid bug to me.

[2021-07-19 20:09] shefalijoshi commented on #4036
@davetsay Is the new limit lines feature implemented in VISTA? That is the only new limits API that requires a promise.

[2021-07-19 21:12] Voreck commented on #4029
Alright, I found a solution: I used the
[code]
form I found in other js files. Not a fix to the problem with the script tag though, obviouslt

[2021-07-19 21:46] akhenry commented on #4038
Assigned to @khalidadil

[2021-07-19 21:47] akhenry commented on #4005
Assigned to @khalidadil

[2021-07-19 22:02] jvigliotta commented on #4029
Yeah, not a bad solution. The reason we usually don't run into this type of thing is we use the strategy of [Open MCT as a dependency](https://github.com/deeptailor/openmct-as-a-dependency) this way when you're installing plugins that are outside of the Open MCT framework you're still inside of a JS environment (src/index.js in this case), so you can get past those issues of needing to use a sourc

[2021-07-19 22:58] Voreck commented on #4029
Ok, so that makes sense to me if an user only wants to install one plugin. But what if the user wants to install more plugins? Can the user just put both plugins in the same directory, type `npm install`, opencmt gets downloaded since its a dependency (at least as far as I've understood how it works) and the user can use both plugins

Probably not the place to ask these questions, sorry

[2021-07-19 23:11] jvigliotta commented on #4029
With that kinda setup, you can install as many plugins as you like. You just need to import them in the index.js, like here: https://github.com/deeptailor/openmct-as-a-dependency/blob/8546acb2b632e8154f81d0dcb729d4bcbd2ef871/src/index.js#L2
You could install multiple before the `openmct.start();` call.

No worries, I'll actually move this over to our Discussions page for informational purposes.

[2021-07-19 23:11] #4029 closed

[2021-07-20 14:25] #4036 closed

[2021-07-20 18:52] davetsay commented on #4036
verified in VISTA local builds

[2021-07-20 19:27] Voreck opened #4046 "Telemetry Graph not Plotting"
So, since the old KSP plugin seems to be dead I'm trying to write a new one. I managed to receive telemetry data, and it shows in openmct... Kind of. In the top left of the attached screenshot it shows the current value I get from the telemachus api.
![image](https://user-images.githubusercontent.com/22007229/126382775-af77cb54-25c3-4711-9f9e-1de4feb67cd6.png)
But as you can see, no Graph is being

[2021-07-20 23:29] Voreck commented on #4046
If it helps with reproducing it, here's my gitlab repository https://gitlab.com/Overloader/ksp-openmct/-/tree/dev

[2021-07-21 04:12] lfatema opened #4047 "To plot time in data time format on X-axis in OpenMCT"
Currently, we are displaying our timestamp in UTC format, I would like to display using the date-time format in OpenMCT.

Can anyone help how to do that?

[2021-07-22 16:21] scottbell commented on #4039
It looks like there's a bit of state in the variable `exportCount`. I'll look at changing this to a UUID so we can remove this.

[2021-07-22 16:24] scottbell commented on #4039
`dialogService` also needs to be changed to `openmct.overlays.dialog`

[2021-07-22 16:28] scottbell commented on #4039
Need to remove `ExportImageService.js` from `bundle.js` too. Then refactor references to `exportImageService` to use the simpler usage.

[2021-07-22 16:30] scottbell commented on #4039
For testing, define an `exportImageService` spec, that instantiates the class and tests it that way.

[2021-07-23 18:43] unlikelyzero commented on #3967
Corresponding issue filed against CircleCI https://github.com/CircleCI-Public/browser-tools-orb/issues/23

[2021-07-23 20:51] #4028 closed

[2021-07-23 22:25] davetsay commented on #4042
@khalidadil , can you do this one before the dialog one please? thanks.

[2021-07-26 14:48] unlikelyzero opened #4054 "[CI] Automatically run performance reports when new github tag is pushed"
At the moment, lighthouse reports are only pushed ad-hoc. It would be a nice improvement to have them run whenever a new tag is pushed to github

[2021-07-26 17:01] unlikelyzero opened #4055 "[CI] Fix our flaky test problems"
We have quite a few instances of flaky tests affecting our CI builds and causing unnecessary heartburn. This ticket captures some of the strategies available to be prioritized and executed during Build 5.

1. [Run the circleci jobs every night to generate a baseline and watch for browser changes](https://github.com/nasa/openmct/pull/4032)

[2021-07-26 17:15] kobe1104 opened #4056 "Re-implement Hyperlink plugin with Vue"
The existing [HyperLink](https://github.com/nasa/openmct/blob/master/platform/features/hyperlink/bundle.js) plugin and [controller](https://github.com/nasa/openmct/blob/master/platform/features/hyperlink/src/HyperlinkController.js) are currently implemented as a legacy bundle and written in Angular.js . They should be re-implemented as a plugin under /src/plugins using our current API, with the UI

[2021-07-26 23:49] scottbell commented on #4039
To test, ensure normal image exporting works in the application.

[2021-07-27 01:04] scottbell commented on #4039
Also check that StackedPlots image exports are functioning. I think (?) they were broken in master.

[2021-07-27 17:54] akhenry opened #4060 "Memory leak in Import/Export Plugin"
#### Summary
Import/Export plugin holds reference to Open MCT object instance after application has been unloaded, preventing garbage collection.

#### Expected vs Current Behavior
Import/Export plugin should not prevent garbage collection of Open MCT instance object.

#### Impact Check List
No user impact. Test only.

#### Environment
* Open MCT Version: c3ebf52dd25424002dce7970744b9794bf5f2636
*

[2021-07-27 17:56] akhenry commented on #4060
Testing instructions:
Run the automated tests, ensure that they do not fail on the Import/export plugin tests.

[2021-07-27 21:08] #4005 closed

[2021-07-28 19:43] scottbell commented on #4041
Should the `GenericSearchWorker` be deleted too?

[2021-07-28 19:57] nikhilmandlik opened #4065 "Clear data for objects clears data for all objects"
#### Summary
`Clear data for objects` clears data for all objects

#### Expected vs Current Behavior
Should clear a data only for given object

#### Impact Check List
- [x] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

####

[2021-07-28 21:45] nikhilmandlik opened #4066 "refactor 'getOriginalPath' ObjectAPI function to 'getPathForOriginalObject' and filter ROOT object."
#### Summary
`getOriginalPath` is currently returning ROOT object in object path.
Also it returns objectPath of  domainObject and not the contextual path (this ll fail for link objects as objectPath ll be for original domain object instead of linked object);

#### Expected vs Current Behavior
NA

#### Impact Check List
- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work

[2021-07-28 22:10] charlesh88 commented on #4056
### Testing Notes
These notes are focused on regression testing for changes that occurred to main view, sub-object and preview containers:
1. Create one of every type of view that we have.
2. Navigate to each view object and ensure it looks as expected.
3. Add each newly created object into a Display or Flexible Layout.; ideally, some testers do one and some do the other. Save the layout and verif

[2021-07-28 23:46] #3983 closed

[2021-07-29 00:17] akhenry commented on #4042
The legacy clock allowed the user to select a time zone and a clock format. Re-implementing that functionality is blocked by the ongoing form refactoring work, so for now it's ok for new clocks to be created with a hard coded time zone (UTC) and format. The new clock object should still support user-specified time zones and display formats though, in order to retain support for legacy clock object

[2021-07-29 16:19] #3582 closed

[2021-07-29 16:52] scottbell commented on #4041
We'll get rid of GenericSearchWorker.

[2021-07-29 17:22] scottbell commented on #4041
Register objects for mutation observers when they're indexed. On mutation, reindex.

[2021-07-29 17:27] scottbell commented on #4041
Fro GenericSearchProvider.index, go to RootRegistry to get root objects, from the IDs of the root objects, get the namespace, get the Object provider, check if search implemented, then index if not implemented. To index, see MutableDomainObject line 205

[2021-07-29 17:28] scottbell commented on #4041
Need to get with Vista folks to test on large object corpus.

[2021-07-29 17:37] scottbell commented on #4041
Try to consolidate GenericSearchWorker and BareBonesSearchWorker. Also try to remove some of the indirection in GenericSearchProvider too.

[2021-07-29 17:38] scottbell commented on #4041
Make sure class doesn't start indexing until openmct.on('start) has fired. Don't start indexing in constructor.

[2021-07-30 08:50] unlikelyzero commented on #4047
@lfatema do you mind opening up a Github Discussion? https://github.com/nasa/openmct/discussions thanks!

[2021-07-30 08:51] #4047 closed

[2021-07-30 22:23] #3880 closed

[2021-08-01 22:24] davetsay opened #4071 "[Telemetry Table] injecting currentView breaks Table Components when not using Table View Provider"
#### Summary
Console error on object view that depends on Table Component

#### Expected vs Current Behavior
Should not see console error

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Step

[2021-08-01 22:26] davetsay commented on #4071
@nikhilmandlik , We'll need to fix this quickly. Hopefully this end of sprint week. We can do a code walkthrough together.

[2021-08-02 18:35] davetsay commented on #4071
Will fix in VISTA. Thanks for the help @nikhilmandlik

[2021-08-02 18:35] #4071 closed

[2021-08-03 16:26] unlikelyzero opened #4072 "[Documentation] Update readme to include documentation on how to run unit tests on circleci runner"
In the recent past, we've had issues with our unit tests which were difficult to reproduce locally.
https://circleci.com/blog/local-pipeline-development/ identifies a process for running the circleci image and workflow definition locally. Let's outline the steps from that process that are applicable to openmct and add them to our readme documentation.

[2021-08-03 17:42] shefalijoshi commented on #4028
Verified fixed.

[2021-08-03 17:45] nikhilmandlik commented on #3758
Verified Fixed.

[2021-08-03 17:48] jvigliotta commented on #3758
Verified: Testathon - 8/3/2021

[2021-08-03 17:48] shefalijoshi commented on #4005
Verified fixed

[2021-08-03 17:52] jvigliotta commented on #3582
Found an issue:
![Screen Shot 2021-08-03 at 10 51 18 AM](https://user-images.githubusercontent.com/12013460/128062656-221f95c2-9c98-471b-9d99-77f8fc5fc574.png)
![Uploading Screen Shot 2021-08-03 at 10.52.21 AM.png…]()

I can click ONCE, then close large view, but then can't get it to open again.

Two different errors.

[2021-08-03 17:56] nikhilmandlik commented on #3983
Verified Fixed.

[2021-08-03 17:58] jvigliotta commented on #3986
Verified: Testathon - 8/3/2021

[2021-08-03 17:59] shefalijoshi commented on #3880
Testing instructions:
_On Firefox, Chrome_ - Start Open MCT in multiple tabs In each tab you should not see any network requests with this in the URL: "_changes?feed=continuous&style=main_only&heartbeat=50000&filter=_selector"
View the same plan or notebook in each tab.
Change the plan or notebook and ensure that all the views are updated.

_On Safari_ - Start Open MCT in multiple tabs In each tab

[2021-08-03 18:01] nikhilmandlik commented on #3986
Verified Fixed.

[2021-08-03 18:03] kobe1104 commented on #3983
Verified fixed. Testathon 8/3/2021

[2021-08-03 18:05] nikhilmandlik commented on #4005
Verified Fixed.

[2021-08-03 18:07] kobe1104 commented on #4056
### Testing instruction

1. On openmct, create a hyperlink by clicking on the '+Create' dropdown menu on top left.
3. On the create hyperlink window, add URL and text to display. Pick either link or button for display format and open in new tab or this tab.
4. Verify that the hyperlink has the expected style (either link or button) and it opens the tab in the expected way.

[2021-08-03 18:08] jvigliotta commented on #4039
Found an issue, both PNG and JPG (exporting image from snapshot) the downloaded image is blank. Attached.
![plot_jpg](https://user-images.githubusercontent.com/12013460/128064782-45149267-ff30-4629-bbb7-d12765e8b396.jpeg)

[2021-08-03 18:09] nikhilmandlik commented on #4039
same as @jvigliotta

[2021-08-03 18:19] nikhilmandlik commented on #4056
unable to create new Hyperlink object

[2021-08-03 18:28] nikhilmandlik opened #4073 "Uncaught TypeError: this.stopObservingObjectChanges is not a function"
#### Summary

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to Reproduce

1.
2.
3.
4.

#### Environment
* Open MCT Version:
* Deployment Type:
* OS:

[2021-08-03 18:43] nikhilmandlik opened #4074 "Uncaught TypeError: this.stopObservingObjectChanges is not a function, Uncaught TypeError: Cannot read property 'filter' of undefined"
#### Summary
navigate to /testathon, Shared Items and start clicking on random folders inside it.

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [x] Is there a workaround available? refresh page
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

#

[2021-08-03 18:52] davetsay commented on #4056
when you edit properties the object view does not change

1. create hyperlink and link to an object in the tree
2. select hyperlink
3. click on hyperlink in object view and see that navigates to specified link
4. select hyperlink
5. edit properties from context menu
6. change url to a different object in tree
7. click on hyperlink in object view and see that navigates to original link

[2021-08-03 19:00] unlikelyzero commented on #3582
@nikhilmandlik to take a look at why subsequent clicks are generating the error

[2021-08-03 19:04] unlikelyzero commented on #4039
Leaving open to fix the issues identified by @jvigliotta

[2021-08-03 19:16] davetsay commented on #4056
things to fix
1. icon changed
1. form changed
    1. display format missing
    2. tab to open hyperlink missing
1. mutation bug in previous comment

@kobe1104

[2021-08-03 19:38] akhenry commented on #4039
Snow theme background is by design, it's for printing. Snapshot issue should be investigated though.

[2021-08-03 19:41] akhenry commented on #4039
Looks like the issue is in Preview/View large rather than snapshots themselves?

[2021-08-03 19:46] akhenry commented on #4074
Agreed, it's a blocker. It prevents you from navigating to telemetry, so that's loss of data and situational awareness.

[2021-08-03 21:04] akhenry commented on #4073
Dupe of https://github.com/nasa/openmct/issues/4074

[2021-08-03 21:04] #4073 closed

[2021-08-03 21:17] davetsay commented on #4056
@kobe1104 , I think hyperlink should not be an editable object. Basically, remove the `canEdit` block in the object view provider.

[2021-08-04 02:00] unlikelyzero opened #4078 "[CI] Re-enable linting in CI"
Linting has been disabled and is not run as a part of the CI process. We should re-enable it.

[2021-08-04 16:13] davetsay opened #4079 "[Plots] legend does not update y-axis values when y-axis is changed"
#### Summary
For plots with multiple ranges, changing the range type (y-axis) changes the plotting correctly, but the legend continues to display values for the original range.

#### Expected vs Current Behavior
Legend values should match plotted values

#### Impact Check List

- [x] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is th

[2021-08-04 17:19] jvigliotta opened #4081 "[Linting] Fix Lint Errors (will be required for merge)"
#### Summary

We have 3 lint errors that need to be addressed before #4078 completed.

[code]
[code]
[code]

#### Expected vs Current Behavior

No linting errors

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just

[2021-08-04 20:40] davetsay opened #4084 "[Plots] plot performance degradation in vue from angular"
#### Summary
Plotting data (after receiving the data) takes longer in new Vue plots as it did in AngularJS plots for large data sets. UI becomes locked during plotting.

#### Expected vs Current Behavior
Vue plots should perform at least as well as legacy AngularJS plots

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been b

[2021-08-05 18:20] akhenry opened #4086 "Re-implement ExportAsJSONAction"
**Is your feature request related to a problem? Please describe.**
The [ExportAsJSONAction](https://github.com/nasa/openmct/blob/master/platform/import-export/src/actions/ExportAsJSONAction.js) is currently implemented using the old Actions api, and depends on some Angular-managed services.

**Describe the solution you'd like**
* The ExportAsJSONAction should be re-implemented as a plugin, using t

[2021-08-05 18:30] akhenry opened #4087 "Remove "Build Info" plugin"
The [BuildInfo plugin](https://github.com/nasa/openmct/blob/master/src/plugins/buildInfo/plugin.js) appears to be redundant, and should just be removed. I think at one time it was supplying build info to the ["About Dialog"](https://github.com/nasa/openmct/blob/master/src/ui/layout/AboutDialog.vue) however it does not seem to be used any more.

The About dialog can be invoked by clicking on the Op

[2021-08-05 18:45] akhenry opened #4088 "New "My Items" plugin needed"
**Is your feature request related to a problem? Please describe.**
The "my items" object currently depends on a mixture of code that is split between the legacy and current APIs. The legacy code should be replaced, and the code consolidated into a new "My Items" plugin.

**Describe the solution you'd like**
The legacy "My Items" bundle should be removed, and replaced with a "My Items" plugin (Unde

[2021-08-05 20:05] akhenry opened #4089 "Implement transactions in Object API and retire legacy transactions"
**Is your feature request related to a problem? Please describe.**
Our legacy API includes a transaction system [that queues requests to persist objects](https://github.com/nasa/openmct/blob/master/platform/commonUI/edit/src/capabilities/TransactionalPersistenceCapability.js#L61) if Open MCT is in Edit mode. Our current API has an Edit API [that starts and ends transactions, but the transactions t

[2021-08-05 21:08] shefalijoshi commented on #4056
Marking this as closed as this was merged into 1.7.6.

[2021-08-05 21:08] #4056 closed

[2021-08-05 21:11] shefalijoshi commented on #4079
Marking it as closed as the fix is merged into 1.7.6.

[2021-08-05 21:11] #4079 closed

[2021-08-05 21:12] shefalijoshi commented on #4074
Marking closed as the fix is merged into 1.7.6

[2021-08-05 21:12] #4074 closed

[2021-08-05 22:41] davetsay commented on #4079
verified in vista

[2021-08-05 22:43] davetsay commented on #4056
verified

[2021-08-05 22:46] kobe1104 commented on #4056
Verified fixed. Testathon 8/5/2021

[2021-08-05 22:47] shefalijoshi commented on #4056
Verified fixed

[2021-08-05 22:49] jvigliotta commented on #3582
Soooooo, it looks like it's working except for the fact that the controls block the ability to click the middle of the image... not sure if that would be a part of this issue though or a separate one.

[2021-08-05 22:50] shefalijoshi commented on #3582
A bit hard to target the area to click on to get the large view in a Display layout, but other than that, stuff works.

[2021-08-05 22:56] kobe1104 commented on #3860
Verified fixed. Testathon 8/5/201.
I used this script to run the test on firefox: `npm run test:coverage:firefox`

[2021-08-05 23:07] kobe1104 commented on #3582
Verified fixed. Testathon 8/5/2021.

[2021-08-05 23:10] kobe1104 commented on #4074
Verified fixed. Testathon 8/5/2021.

[2021-08-05 23:10] jvigliotta commented on #3880
Verified - Testathon - 8/5/2021

[2021-08-05 23:13] shefalijoshi commented on #3939
Verified - Action runs

[2021-08-05 23:18] jvigliotta commented on #4074
Verified - Testathon - 8/5/2021

[2021-08-05 23:23] nikhilmandlik commented on #4056
found adding `www.nasa.gov/` does not redirect to `https://www.nasa.gov/`
<img width="558" alt="Screen Shot 2021-08-05 at 4 21 41 PM" src="https://user-images.githubusercontent.com/1292612/128433655-e29bf73d-ff13-4d09-ad83-2e60281a7555.png">

[2021-08-05 23:24] unlikelyzero commented on #3582
@jvigliotta to create a separate issue related to the obscured button

[2021-08-05 23:28] jvigliotta opened #4090 "[Imagery Plugin] Nav arrows containing div blocks image click"
The div holding the navigation arrows is preventing clicking on the the image. This makes the click seem inconsistent when it's working correctly. Need to add pointer-events: none; on that div's styles. https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events

#### Summary

#### Expected vs Current Behavior

#### Impact Check List

- [x] Is there a workaround available?

#### Steps to Repro

[2021-08-05 23:29] unlikelyzero commented on #4056
@nikhilmandlik to file a bug on the existing behavior

[2021-08-05 23:30] akhenry commented on #3880
Verified fixed

[2021-08-05 23:55] akhenry commented on #3952
Not fixed. At least it doesn't look like it. I installed node 8 and it built just fine with it, no warning at all. Even more surprisingly it then ran just fine as well...

[code]

Interestingly I **did** get a warning when I tried the same thing with node 16.

[2021-08-06 18:12] jvigliotta commented on #3745
This was fixed in PR #3744

[2021-08-06 18:12] #3745 closed

[2021-08-06 18:33] mariuszr commented on #3745
Hi @jvigliotta, please note that the PR [#3817](https://github.com/nasa/openmct/pull/3817) completes the PR [#3744](https://github.com/nasa/openmct/pull/3744) by removing the elements that were missed.

[2021-08-06 21:07] davetsay opened #4093 "[Testing] clock plugin unit tests"
Clock refactored from an angular bundle to standard plugin. Tests should be converted as well.

[2021-08-09 06:19] danielelkabes opened #4096 "Contact | Security Issue"
Hi team,

I tried to find contact email but haven't found any.

I'm Daniel Elkabes a security researcher working at WhiteSource, please contact me back at daniel.elkabes@whitesourcesoftware.com

[2021-08-09 09:31] scottbell commented on #4039
Investigating blank image export, though not the snow theme per @akhenry

[2021-08-09 11:59] scottbell commented on #4039
The dialog service appears to be interfering with the html2canvas export

[2021-08-09 12:23] scottbell commented on #4039
Wondering if we need the dialog service when nominally exporting the image. It's near instantaneous! Though perhaps on larger exports it is not?

[2021-08-09 12:45] scottbell commented on #4039
Added an option to the ImageExport to disable the dialog. Can investigate other options if we need too

[2021-08-09 15:52] jvigliotta commented on #4096
@danielelkabes I've sent you an email, going to close this for now as it's not an issue. Thanks!

[2021-08-09 15:52] #4096 closed

[2021-08-09 19:57] shefalijoshi opened #4100 "Add new domain object type for spectral plots"
Spectral plots are special plots that use Wavelength or Frequency for the X-axis and any data telemetry for the Y-axis.
Currently, plots use only time for the x-axis. In order to support new views for spectral plots, we need to

Create a new domain object type for spectral plots:
1. Should be creatable
2. Should show options for type of rendering - bar or line or points/markers

[2021-08-09 19:59] shefalijoshi opened #4101 "View provider for spectral plot domain object types"
Spectral plots are special plots that use Wavelength or Frequency for the X-axis and any data telemetry for the Y-axis.
Currently, plots use only time for the x-axis. In order to support new views for spectral plots, we need to

Create a view provider that can display objects of type spectral plot:
1. Should only allow display of spectral plots
2. Should ensure that composition items have metadata

[2021-08-09 20:01] shefalijoshi opened #4102 "New view for spectral aggregate plots - composition and x-axis selection"
Spectral plots are special plots that use Wavelength or Frequency for the X-axis and any data telemetry for the Y-axis.
Currently, plots use only time for the x-axis. In order to support new views for spectral plots, we need to
Spectral Aggregate plots work similarly, but the x-axis may be non-wavelength/frequency domains.

Create a view that can display objects of type spectral aggregate plot:
1.

[2021-08-09 22:09] akhenry commented on #4065
This is implemented as the [ClearDataAction](https://github.com/nasa/openmct/blob/master/src/plugins/clearData/clearDataAction.js)

[2021-08-10 16:26] kobe1104 opened #4103 "Remove Angular from Identity indicator"
The current [identity bundle](https://github.com/nasa/openmct/blob/master/platform/identity/bundle.js) is written in Angular and it needs to be created as a plugin using Vue.
This includes converting [IdentityIndicator.js](https://github.com/nasa/openmct/blob/master/platform/identity/src/IdentityIndicator.js) and all other components under [identity folder](https://github.com/nasa/openmct/tree/mas

[2021-08-10 16:44] akhenry commented on #2942
@nikhilmandlik  Needs test notes.

[2021-08-10 17:00] akhenry opened #4104 "Tables should support paging"
**Is your feature request related to a problem? Please describe.**
Currently our tables expect all telemetry values for the configured bounds to be returned by telemetry providers. Some telemetry backends support paged results which can improve data retrieval time, and reduce network bandwidth. In cases where the backend supports paging, tables should retrieve only enough results to fill the table

[2021-08-10 17:00] akhenry commented on #3639
Created followup issue for deferred paging work - https://github.com/nasa/openmct/issues/4104

[2021-08-10 17:02] akhenry opened #4105 "TelemetryCollection needs more unit tests"
**Is your feature request related to a problem? Please describe.**
Additional tests should be added to the Telemetry API suite to test some of the new functionality provided by the addition of TelemetryCollections.
eg.
* Add and remove events
* Testing that telemetry bounds are maintained
* etc.

[2021-08-10 17:02] akhenry commented on #3639
Created followup issue for additional tests - https://github.com/nasa/openmct/issues/4105

[2021-08-10 17:26] #3185 closed

[2021-08-10 17:36] #3639 closed

[2021-08-10 17:36] #4008 closed

[2021-08-10 21:45] jvigliotta commented on #4088
## Testing
- verify "My Items" folder is showing up correctly
- if possible, delete "My Items" from the DB or start a new instance of Open MCT where "My Items" is not in the DB and verify it does show up

[2021-08-11 22:11] #4081 closed

[2021-08-11 22:12] davetsay commented on #4078
#4081 has been closed

[2021-08-12 16:45] shefalijoshi opened #4111 "Refactor PlotConfiguration model to allow non-time based data on the x-axis (not just utc)"
Refactor PlotConfiguration model to allow non-time based data on the x-axis (not just utc) to support spectral and scatter plots.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe

[2021-08-12 18:02] charlesh88 commented on #4010
There are multiple issues that constrain the realistically available set of colors:
1. Accessibility/color blindness concerns mean that colors must be selected for clarity and certain color ranges must be steered clear of.
2. Plot lines are thin and markers are small by default, making the actual color hard to discern. Subtle differences between colors can be much harder to determine, compared aga

[2021-08-12 20:29] #3982 closed

[2021-08-12 21:24] akhenry commented on #4010
@charlesh88 You read my mind. I think styling is a better way of differentiating plot traces than colors alone when we get into large numbers.

Alternatively, what if we just let gave users a full color palette (and implemented an auto color selection algorithm that does its best to maximize for contrast), and then provided some way of "calling out" traces when the user hovers on the legend? Maybe

[2021-08-13 17:48] unlikelyzero commented on #4078
https://github.com/nasa/openmct/pull/4082 has been merged. It should be possible to enable this in CI without additional scope

[2021-08-13 18:44] shefalijoshi commented on #3647
The code for imagery view for time strips now emits a 'destroy' event when viewLarge closes. We could key off this to unpause the imagery when view large exits.

[2021-08-13 19:00] nikhilmandlik opened #4115 "snapshot clicked while in edit mode should open in preview mode"
#### Summary
When clicked on snapshot url/text it navigates to that object url.
But if ui is in edit mode then navigation happens but current view gets replaced by new url. This causes 2 major issues,
1. current edited view gets dismissed could cause in loss of changes.
2. new vie may not have edit mode and now is in edit mode. eg: SWG, Clock etc

#### Expected vs Current Behavior
When in edit mod

[2021-08-14 19:24] evenstensberg commented on #3266
Could I help with this?

[2021-08-16 12:35] scottbell commented on #4065
Was able to reproduce, looking into it now.

[2021-08-16 13:26] scottbell commented on #4065
The object emit is emitting the correct path in clearDataAction, but the wrong vue component is responding to it (SWG instead of the stacked plot). One solution I've got implemented in a branch is to navigate to the object that's doing the clearDataAction first, before emitting the clearData event. This is borrowing heavily from RemoveAction

[2021-08-16 14:33] scottbell commented on #4065
Though this causes a regression now with RemoveAction in that the parent & child of the path are now reversed, so attempting to delete the StackedPlot now tries to remove the parent!

[2021-08-16 17:07] jvigliotta opened #4118 "[Telemetry Collections] Abort signal key name incorrect"
#### Summary

The abort signal key for the options being sent to the historical telemetry provider was incorrectly named. This was preventing telemetry requests from aborting.

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this

[2021-08-16 17:17] shefalijoshi opened #4119 "Notebook console error when Open MCT starts up"
#### Summary
Console error when Open MCT starts. Impact is unknown at this point.

#### Expected vs Current Behavior
No console error.

#### Impact Check List
- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to

[2021-08-16 20:51] scottbell commented on #4065
@shefalijoshi recommended removing "Clear Action" from non-selected items in the tree. I.e., don't allow contextual "Clear Action" if you haven't selected the item in the tree.

[2021-08-16 20:56] akhenry commented on #3343
See https://github.com/nasa/openmct/pull/3717#issuecomment-788141538 for proposed solution.

[2021-08-16 21:07] scottbell commented on #4065
I've added a first draft on removing "Clear Action" from non-selected items in the tree:
https://github.com/nasa/openmct/compare/mct4065

[2021-08-16 21:21] #4084 closed

[2021-08-16 22:20] davetsay opened #4121 "resize handler causes plot to make duplicate request"
#### Summary

Plots are making two identical requests on load.

#### Expected vs Current Behavior

Plots should request data once on load. Plots should then requests data as needed upon explicit element resize.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this

[2021-08-17 00:47] charlesh88 opened #4122 "Persistence errors for multiple users making new Snapshot entries in same Notebook"
#### Summary
Seen during multi-user Notebook test of 8-16-21. Two users making new entries at the same time by dragging in Snapshots to the same page of the same Notebook caused one user to have persistence errors and lose their entry.

#### Expected vs Current Behavior
Users must be able to create new entries in the Notebook without fear of collision and losing content.

#### Impact Check List
-

[2021-08-17 16:51] #4121 closed

[2021-08-17 17:23] davetsay commented on #3788
Thanks for picking this one up, @mariuszr . Great work! Modified the issue description to include changes to `AgentService` and `MCTDevice`

[2021-08-17 17:23] #3788 closed

[2021-08-17 17:57] davetsay commented on #3953
Duplicate of #3986

[2021-08-17 17:57] #3953 closed

[2021-08-17 21:33] davetsay opened #4124 "collapsable panes should not need to listen to param changes"
## Overview
Collapsable panes do not need to listen for params to collapse.

## Expected Behavior
Collapsable panes should look at params on load and collapse accordingly. Then, they shouldn't listen to param changes but rather to expand/collapse button clicks after mounted.

## Steps to Ensure no Regressions
1. collapse either tree pane (left) or inspector pane (right) or both
2. see that the pan

[2021-08-18 17:36] davetsay opened #4129 "y-axes for stacked plots do not line up"
#### Summary

Space is collapsing down to the size of each y-axis value set. Different y-axis value widths cause plots to not be lined up vertically.

#### Expected vs Current Behavior

The y-axes should adjust y-axis value width so that the left-most part of all plots line up vertically.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or ha

[2021-08-18 17:44] jvigliotta opened #4130 "[Typo Fixes] Various typo fixes"
There are various typos throughout the code.

## Testing
- nothing to test, this is all comment/documentation related updates

[2021-08-18 18:09] akhenry commented on #4122
Even with the automatic synchronization of notebook models persistence conflicts are unavoidable. The act of updating a notebook causes a persistence event which may take a second or two for a simple entry on a slower connection. If another user modifies the notebook during this window then one of the users is going to be persisting a stale notebook model, and Couch will return a conflict response

[2021-08-18 19:27] JonanOribe commented on #4104
Hi @akhenry , could I take this one??

[2021-08-18 20:20] akhenry commented on #3976
Dupe of https://github.com/nasa/openmct/issues/3977

[2021-08-18 20:20] #3976 closed

[2021-08-18 20:28] akhenry commented on #4046
@Voreck Code looks good at first glance, nice job! There's nothing obvious to me. This sort of issue is sometimes timestamp related. Could you provide an example of the telemetry data that you receive over the websocket? I wonder if the timestamps are not being handled correctly by the UTCTimeFormat.

[2021-08-18 21:06] khalidadil commented on #4093
@davetsay tests were added to the PR to master #4106

[2021-08-18 21:06] #4093 closed

[2021-08-18 21:14] khalidadil opened #4131 "[Timer] Re-implement Timer object in Vue.js"
The [existing Timer object](https://github.com/nasa/openmct/blob/master/platform/features/clock/bundle.js#L254) is currently implemented as a legacy bundle and written in Angular.js. It should be re-implemented as a plugin under /src/plugins using our current API, with the UI migrated to Vue.

Any legacy code associated with the legacy Timer object should be removed from the code-base.

[2021-08-18 22:32] Voreck commented on #4046
@akhenry Honestly kinda surprised that it looks good, pretty much the first time I do anything in JS
So a console.log of the event in onmessage gives me this

![image](https://user-images.githubusercontent.com/22007229/129980489-3195f053-714e-41e2-8cd2-902635390f03.png)
Screenshot of the log since copy pasting it causes it to loose its formatation, maybe im doing something wrong

[2021-08-18 22:53] akhenry commented on #4046
OK, cool. So the problem is `Event.timeStamp`. It doesn't look like Telemachus provides timestamps associated with the telemetry values that it emits. You're using `Event.timeStamp` instead, but this cannot be used for this purpose because [it's an offset relative to the creation of the document](https://developer.mozilla.org/en-US/docs/Web/API/Event/timeStamp). JavaScript represents time as [an o

[2021-08-18 23:38] #3929 closed

[2021-08-19 02:30] akhenry commented on #4104
@JonanOribe Thanks for the offer! We're actually going to handle this one internally. It's pretty involved, and there a bunch of design we need to do as well. If you feel like taking a look at a bug, this might be a good one - https://github.com/nasa/openmct/issues/3670

[2021-08-19 07:25] Voreck commented on #4046
This works, thanks, I wish I knew it was that easy!
Well, i'll still probably have to search for another way to do this since KSP is a game where you can simply advance time but still, at least now I know what the problem is

[2021-08-19 14:10] JonanOribe commented on #4104
Ok @akhenry , I will take a look to that bug

[2021-08-19 14:13] JonanOribe commented on #3670
If there is no problem, I would like to try to fix this one

[2021-08-19 16:27] akhenry commented on #3670
@JonanOribe  Thank you, that would be great! :)

[2021-08-19 17:40] jvigliotta commented on #4046
Hello all, going to convert this to a discussion as this could help out some others as well. Thanks!

[2021-08-19 17:41] #4046 closed

[2021-08-19 18:27] jvigliotta commented on #3266
Hey @evenstensberg, sure thing! Let us know if you have any questions.

[2021-08-19 20:24] evenstensberg commented on #3266
I found the root cause but don't know how to implement this. Seems like there's always 1 data element that is re-rendering and therefore, the scroll position is reseted when this element is added to the table.

[2021-08-20 00:21] #4118 closed

[2021-08-20 17:55] davetsay opened #4138 "only zoom and pan should pause plot, not click"
#### Summary

#### Expected vs Current Behavior

Clicking on a plot should not pause the plot. Plot should only pause on zoom or pan, or explicit pause.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [x] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual

[2021-08-20 18:49] davetsay opened #4139 "plots should not request on vertical resize"
#### Summary

#### Expected vs Current Behavior

On vertical resize, plots should not make new requests for data, only on horizontal resize.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### S

[2021-08-22 10:15] JonanOribe commented on #3670
Ok, I can confirm that the error also occurs in Windows 10 + Chrome. I will start looking for a solution

[2021-08-23 21:03] #3300 closed

[2021-08-23 22:43] #4130 closed

[2021-08-23 22:50] charlesh88 opened #4140 "Overlay Plots cannot be styled"
Overlay Plots are not allowing either static or conditional styling, but should. Stacked Plots are working as expected.

#### Impact Check List

- [x] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [x] Is this just a visual bug?

#### Steps to Reproduce
1.

[2021-08-23 23:22] charlesh88 opened #4141 "Flexible Layouts display Condition Sets as their editing/browsing interface"
Condition Sets appear in Flexible Layouts as either their main view browse or edit interfaces, depending on the current edit mode. Instead, they should behave as in Display Layouts and appear as telemetry, with alphanumeric, overlay and stacked plot view options. Given that we don't have type switching in Flexible Layouts for numeric or enum telemetry, just displaying as an alphanumeric as a V1 fi

[2021-08-24 17:32] unlikelyzero opened #4142 "Add Security issue submission to our github issue tracker"
we should add a issue type to help community members add issues https://github.com/nasa/openmct/issues/4096

[2021-08-24 17:36] jvigliotta commented on #3639
Currently enabled for Telemetry Tables

## Testing
- View a Telemetry Table
- Verify the following are working as expected:
- Add/Remove Telemetry
- Switch between realtime/historical
- Pause telemetry
- Filter telemetry columns
- Hide/Show columns
- Do various mixes of all of the above

[2021-08-24 17:43] jvigliotta commented on #4118
## Testing
- same as #3639

[2021-08-24 17:46] charlesh88 commented on #4121
Testathon 8-24-21: no testing notes, can't test.

[2021-08-24 17:47] jvigliotta commented on #3953
Verified Fixed - Testathon: 8/24/2021

[2021-08-24 17:52] jvigliotta opened #4143 "Small Refactor on ActionCollection code"
#### Summary

The code could be refactored pretty easily.

#### Testing
- verify actions are working correctly

[2021-08-24 17:54] jvigliotta commented on #4008
## Testing
- same as #3639

[2021-08-24 17:57] charlesh88 commented on #4119
Seen during Testathon on 8-24-21. Here's console errors when navving to a newly created Notebook:
![image](https://user-images.githubusercontent.com/1056412/130666183-93966f3b-4356-400d-a120-65339b6cd9bc.png)

[2021-08-24 18:11] charlesh88 opened #4144 "Notebook doesn't display interface after creation"
Seen during Testathon on 8-24-21. Creating a new Notebook resulted in a blank interface.
![image](https://user-images.githubusercontent.com/1056412/130666673-22205d03-1f3a-4498-aee2-6b18d081b27e.png)

Refreshing doesn't solve the problem.

Console errors when navving to a newly created Notebook:
![image](https://user-images.githubusercontent.com/1056412/130666183-93966f3b-4356-400d-a120-65339b6cd9

[2021-08-24 18:11] jvigliotta commented on #3185
Testathon - 8/24/2021 : Unable to test due to notebook errors

[2021-08-24 18:15] jvigliotta commented on #3343
Verified Partially Fixed - Testathon: 8/24/2021

This is fixed for "move" but not for "resize" so if you follow the testing instructions, but do so on the corners (for resizing) then the resize will stick like the move did. Same fix needs to be applied for resize.

[2021-08-24 18:16] jvigliotta commented on #3788
@davetsay can we get testing instructions?

[2021-08-24 18:17] #4143 closed

[2021-08-24 18:21] shefalijoshi commented on #4118
Verified fixed

[2021-08-24 18:23] unlikelyzero commented on #4130
verified fixed (documentation)

[2021-08-24 18:29] unlikelyzero commented on #2942
Re-opening

[2021-08-24 18:30] unlikelyzero commented on #3185
Will retest after https://github.com/nasa/openmct/issues/4144 is solved

[2021-08-24 18:30] unlikelyzero commented on #3300
will retest after https://github.com/nasa/openmct/issues/4144

[2021-08-24 18:32] unlikelyzero commented on #3745
@jvigliotta to verify

[2021-08-24 18:33] unlikelyzero commented on #3929
@nikhilmandlik to retest

[2021-08-24 18:34] unlikelyzero commented on #3982
Will retest https://github.com/nasa/openmct/issues/4144

[2021-08-24 18:37] unlikelyzero commented on #4008
Fixed and tested as part of https://github.com/nasa/openmct/issues/3639. Table sorting works

[2021-08-24 18:37] shefalijoshi opened #4145 "Telemetry Tables - Switching from Local clock to Fixed timespan does not retrieve data"
#### Summary

While testing #3639 , I created a telemetry table by adding the deltaXr telemetry endpoint to it while in Local Clock mode.
Then I switched to Fixed timespan mode after the initial historical requests had completed (checked Network tab).

Telemetry data was not retrieved immediately upon switching to Fixed timespan mode.

#### Expected vs Current Behavior

Expected: Switching to Fixe

[2021-08-24 18:39] unlikelyzero commented on #4084
@davetsay to confirm that this was tested as a part of the VISTA release verification

[2021-08-24 18:42] unlikelyzero commented on #4143
OMG closing

[2021-08-24 18:42] unlikelyzero commented on #4121
@davetsay to add testing notes

[2021-08-24 19:52] shefalijoshi commented on #4141
@charlesh88 Getting an alphanumeric view for condition sets in the flexible layout is rather involved.
For now we could go with a Plot or Table view. Is that acceptable?

[2021-08-24 19:53] charlesh88 opened #4146 "Persistence errors in Condition Sets when editing Condition Widgets"
#### Summary
Seen during Science Open MCT tagup 8-24-21. Persistence errors encountered frequently (but sporadically) and by multiple users when editing Condition Widgets that use Condition Sets for styling. Users were not able to save edited properties for the Condition Widget. Users were saving sets and widgets in their own independent folders. Trying to dupe this after the session, wasn't able

[2021-08-24 20:00] charlesh88 opened #4147 "Tree view not in sync with main view"
#### Summary
The tree view is sporadically not in sync with its main view.

<img width="1446" alt="130681094-05dde580-00e2-4f27-959b-e8a30a82255f" src="https://user-images.githubusercontent.com/12013460/131747744-2f7316a3-599e-4157-a536-366b7731037a.png">

Purple arrow shows expanded folder in tree which doesn't show any children, while the main view shows the folder's children. Navving away and b

[2021-08-24 21:35] #4144 closed

[2021-08-26 17:50] charlesh88 opened #4152 "Add ellipse shapes to Display Layouts"
When creating an example conditionally-styled circuit diagram, it would have been very helpful to have circle/ellipse drawing shapes.

[2021-08-26 23:05] shefalijoshi opened #4154 "Unable to capture notebook snapshot in folder view using Firefox"
#### Summary

Unable to take a snapshot of a folder view in firefox.

#### Expected vs Current Behavior

Folder view should be captured to notebook via snapshots
#### Impact Check List

- [x] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [x] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a

[2021-08-27 13:46] AdamElliott-AB opened #4158 "Plan view display error"
In certain cases activity text overlaps activity bar, and the text is unreadable because the font color is changed to match the bar color.

Here is the same data seen at different zoom levels. Note the unreadable text in the second screenshot.
![timeline_good](https://user-images.githubusercontent.com/61790993/131136792-e8644e7e-fd3c-4bf3-8a01-f8e476f1ef97.png)
![timeline_bad](https://user-images.

[2021-08-27 13:48] #4158 closed, assigned to nobody

[2021-08-27 13:57] pgorczak opened #4159 "[Enhancement] Add Unit field to y-axis on plots"
#### Summary
Even though a `units` field is provided in telemetry metadata, the unit is not displayed in plots.

#### Expected vs Current Behavior
Plots' y-axes should be labeled with the `units` field provided in telemetry metadata like in the [demo](https://openmct-demo.herokuapp.com). Instead the `name` field is shown ("Value").

#### Impact Check List

- [ ] Data loss or misrepresented data?
-

[2021-08-29 12:19] unlikelyzero opened #4160 "[Performance] Lighthouse CI detected a performance regression in Total Blocking Time"
**Is your feature request related to a problem? Please describe.**
Lighthouse CI detected an issue with our Total Blocking Time when comparing 1.7.4 to 1.7.7. [Link but backwards. Use double arrows at the top to swap the versions](https://googlechrome.github.io/lighthouse-ci/viewer/?baseReport=https%3A%2F%2Fstorage.googleapis.com%2Flighthouse-infrastructure.appspot.com%2Freports%2F1630238968974-95

[2021-08-29 14:45] unlikelyzero opened #4161 "[Testing] Add codecov.io to our PRs"
**Is your feature request related to a problem? Please describe.**
In an effort to track code coverage changes per PR, we should implement codecov.io. It provides automatic, graphical displays within a PR so that the author and reviewers can be more aware of the impact a given change has on test coverage.

It is currently in use on other NASA projects: https://github.com/nasa/Kamodo

**Describe th

[2021-08-29 14:51] unlikelyzero opened #4162 "[Testing] Add codeql scanning to our nightly CI via Github Actions"
**Is your feature request related to a problem? Please describe.**
CodeQL security scanning provides an automated security scan for github repos. We found this article that details a previous use case at NASA. https://semmle.com/case-studies/semmle-nasa-landing-curiosity-safely-mars

**Describe the solution you'd like**
Implement this action to run nightly https://github.com/github/codeql-action

[2021-08-30 17:28] JonanOribe commented on #4159
@pgorczak, Could I take this one?

[2021-08-30 18:44] akhenry commented on #4146
Once again, Condition Sets should not be mutating condition set objects unless the user has changed something.

[2021-08-30 18:51] akhenry commented on #4145
Not necessarily an issue. Switching from local clock to fixed time mode stops the clock, meaning that the bounds stop changing automatically. It's possible that the Time API issues a bounds change event when switching from local to fixed mode that the table is just ignoring though, I'm not sure? In any case, the bounds shouldn't actually change, so there is no reason for a view to re-fetch data th

[2021-08-30 19:04] akhenry commented on #4141
Yeah, there are two issues here. The most pressing issue is that Condition Sets are not being treated the same as other telemetry points, which is an easy fix. We probably just need to add some logic to `canView` and `canEdit` on the `ConditionSetViewProvider` that uses the optional `objectPath` argument and returns false if the condition set is embedded.

The second issue is that alphanumeric vie

[2021-08-30 19:08] akhenry commented on #4141
Vacillating on the severity here 😄 Initially changed to blocker on grounds of data loss, but reverted because ultimately the output of the CS is still **technically** visible.

[2021-08-30 19:32] pgorczak commented on #4159
@JonanOribe thanks, that would be great

[2021-08-30 21:38] davetsay opened #4164 "[Enhancement] Selection API should support unselection"
#### Summary

Clicking an object in navigation tree without a view provider does not unselect previous selection.

#### Expected vs Current Behavior

The previously selected object should be unselected, in which case the 3-dot menu actions, inspector views, etc. should be cleared. Or, there should just be some default fallback view provider that only is available for objects that don't have any ot

[2021-08-30 21:56] davetsay commented on #4164
@charlesh88 , would love to get your UX expertise when looking at some VISTA objects that currently don't have views. Also, would like to hear opinions on the idea of a default fallback view.

[2021-08-30 22:44] #4162 closed

[2021-08-30 23:08] davetsay opened #4167 "changing time bounds results in duplicate telemetry requests"
#### Summary

Two telemetry requests occur when you change bounds from the time conductor.

#### Expected vs Current Behavior

Duplicate requests happen for each telemetry on bounds change where only one is expected.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Doe

[2021-08-31 05:45] shefalijoshi commented on #4167
The issue here is that the button for submitting the form (ref=submitButton) has `type="submit"`
https://github.com/nasa/openmct/blob/master/src/plugins/timeConductor/Conductor.vue#L41

This will cause the form to submit twice. Changing the button to `type="button"` and attaching an `@click` handler to it should help alleviate this problem.

[2021-08-31 21:20] davetsay opened #4170 "indicators display order should be configurable"
## Overview
Indicators are displayed just based on the order in which they were installed.

## Expected Behavior
The order indicators are displayed should be configurable by priority instead of order installed.

## Steps to Reproduce
1. Before - see that order of indicator installation is order of display
2. After - see that you can specify the priority and is displayed in correct priority order

[2021-09-01 14:02] JonanOribe opened #4172 "Add a Toggle behavior to "Collapse all tree items""
It will be interesting, that the button "Collapse all the elements of the tree" becomes "Open/Collapse all the elements of the tree" that allows the user to show or hide all the elements of the tree, because if you collapse your elements, now you have to go back to open the whole tree manually and it is a very slow process.

![image](https://user-images.githubusercontent.com/11914201/131685246-b51

[2021-09-01 16:15] akhenry commented on #4172
I understand the frustration here. Although expanding **all** nodes is probably not generally desirable for both usability and performance reasons (some of our deployments have telemetry dictionaries with 10's of thousands of nodes in them), the button could expand the user's previously expanded nodes.

@charlesh88 thoughts?

[2021-09-01 17:26] jvigliotta commented on #3822
@charlesh88 thoughts?

[2021-09-01 19:46] jvigliotta commented on #3670
Hey @JonanOribe thanks for this! Can you run this on the command line: ```npm run lint``` and fix any linting issues that pop up?

[2021-09-01 21:22] jvigliotta commented on #4147
@charlesh88 I'm unable to replicate this at all. I even tried in the original folder. Maybe we could do some testing together on the server?

[2021-09-02 09:22] JonanOribe commented on #3670
@jvigliotta  I had run `npm run lint` and solve all issues, but this two:

![image](https://user-images.githubusercontent.com/11914201/131816904-79118b16-a564-466d-a9d9-a0e8e246c2a9.png)

In the case of `'v-html' directive can lead to XSS attack  vue/no-v-html`, I saw that the alternative is `{{valueOfTheV-HTML}}`, but this approach does not save the HTML and CSS styles.  On the other hand, I read

[2021-09-02 18:30] shefalijoshi opened #4177 "Support Bar Graphs in Open MCT"
**Is your feature request related to a problem? Please describe.**
Bar Graphs should display bars with range variable names on the X-axis and values on the Y-axis.

**Describe the solution you'd like**
Bar Graphs should accept aggregate telemetry.
~~Metadata should be provided that determines which attributes of the telemetry to use for which axis~~This will come later as there is yamcs work to do

[2021-09-02 18:48] shefalijoshi opened #4178 "Spectral Aggregate composition policy"
**Is your feature request related to a problem? Please describe.**
Spectral Aggregate plots should only work for telemetry that provides/supports spectral data

**Describe the solution you'd like**
Create a Spectral aggregate composition policy that expects telemetry to have metadata attributes for spectral X and Y attributes.
For example:
`{
                    key: "sin",
                    nam

[2021-09-02 21:11] #4124 closed

[2021-09-02 22:45] #4060 closed

[2021-09-03 00:16] davetsay opened #4180 "refactor plan activities inspector views to use inspector custom details"
## Overview
Custom details are being added to the inspector in #4109. Plan activities should leverage this. Hard coding of activity selection can then be removed from inspector code.

## Expected Behavior
All metadata for Plan activities should still display in inspector

## Steps to Reproduce
1. Navigate to a plan with activities
2. Click on an activity
3. Observe metadata is visible in the inspe

[2021-09-03 18:12] shefalijoshi commented on #3927
Testing Instructions:
Ensure you are in Local Clock Mode for Open MCT
Navigate to a time-strip view or create and save a new time-strip view.
You should see an independent time conductor at the top of the main view:
![image](https://user-images.githubusercontent.com/5247066/131926016-a4f25939-2afd-4018-b5fa-63d3ea1dfdcb.png)

- Ensure that this is **disabled**.
- Ensure that changing the global ti

[2021-09-06 07:43] Voreck commented on #4159
I'll just put this here since it might be related: For me Units dont get displayed as well and the min/max options seem to do nothing

[2021-09-07 16:45] akhenry opened #4188 "Timelines need to support zero-length Activities"
**Is your feature request related to a problem? Please describe.**
When a plan is viewed individually or in a time view, activities with a duration of 0 need to be supported. This is to support the visualization of discrete events where the duration is undefined, very short, or its exact duration doesn't matter.

**Describe the solution you'd like**
TBD. One way to support this is to simply define

[2021-09-07 16:50] akhenry opened #4189 "Document the plan format, and how to incorporate plans for non VIPER users"
**Is your feature request related to a problem? Please describe.**
Open MCT supports the specification of plans, and also a timeline view that incorporates plans and telemetry displays. Although this functionality is available, there is very little information for users on how to use plans and time views in their Open MCT deployment

**Describe the solution you'd like**
A README.md file should be

[2021-09-08 13:25] scottbell commented on #4178
Am I correct in thinking we just need to look for `spectralAttribute` here?

[2021-09-08 14:48] shefalijoshi opened #4191 "Request telemetry for spectral aggregate plots"
**Describe the solution you'd like**
Spectral aggregate plots should request telemetry for endpoints added to the view

**Additional context**
Once the x-axis for the telemetry endpoint has been determined (see #4102 ) the telemetry endpoint's data needs to be retrieved:
1. Use TelemetryAPI.request to get historic data for this endpoint
2. Use TelemetryAPI.subscribe to establish an open websocket

[2021-09-08 17:19] shefalijoshi opened #4192 "Visualize spectral aggregate plot data using plotly"
Spectral plots are special plots that use Wavelength or Frequency for the X-axis and any data telemetry for the Y-axis.
Currently, plots use only time for the x-axis. In order to support new views for spectral plots, we need to
Spectral Aggregate plots work similarly, but the x-axis may be non-wavelength/frequency domains.

Plot historic and realtime data received from telemetry endpoint providers

[2021-09-08 17:34] charlesh88 opened #4193 "The Map view needs an icon"
New icon needed for the Map view component:

![image](https://user-images.githubusercontent.com/1056412/132552272-6b30b92d-4b0c-44b4-8cb9-a5f831d85350.png)

[2021-09-08 21:36] nikhilmandlik commented on #4089
After discussion with @akhenry,
1. Start/Create Transaction on edit:
    create a Transaction Set to track mutated objects
2. update transaction on object mutation:
    if (editMode)
         //update transaction
         object.mutate -> add mutated object to Transaction Set
    else
         persist object -> object.save
3. End transaction:
    on commit -> object.save -> call object.save on ite

[2021-09-08 23:22] charlesh88 opened #4194 "Snapshot notice link not navigating as expected"
#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to Reproduce

1. On a server that's _not_ localhost, make a new Notebook and add an entry to make it the default Notebook page.
2. Go to

[2021-09-08 23:48] charlesh88 opened #4196 "Conditional Styling not being applied when editing a Condition Widget"
#### Summary
Conditional Styling not being applied when editing a Condition Widget

#### Expected vs Current Behavior
When editing a Condition Widget, clicking a Condition rule in the Inspector should ignore the actual Condition Set's current evaluation state and apply the style as defined in that rule immediately. Instead, the selected rule is having no affect on the applied style, using the Cond

[2021-09-09 00:59] akhenry opened #4197 "Minor improvements to time conductor history"
**Is your feature request related to a problem? Please describe.**
Some minor changes to how time conductor history is displayed could make it a little more user friendly.

**Describe the solution you'd like**
1. Milliseconds should not be displayed in the start time, it's not useful.
2. `Z` should be removed from the start time
3. Do not decimate, show hours, minutes, seconds.

eg.

![Screen Shot

[2021-09-09 18:37] jvigliotta opened #4200 "Could we somehow use TelemetryCollections to "yield" historical data progressively as pages return? Rather than blocking until everything comes back?"
Name kinda says it all doesn't it?

[2021-09-09 19:27] nikhilmandlik commented on #4194
removed snapshots due to internal url visible. 😅

[2021-09-09 21:33] jvigliotta opened #4202 "[Telemetry Collections] Need to emit when resetting"
Telemetry collections reset when the bounds change (by the user) or when the time system changes. When this happens, boundedTelemetry is wiped and re-requested. currently, there is no event for this. So any views that are reacting to changes, aren't aware telemetry was reset. This results in old telemetry not being cleared from telemetry tables currently.

#### Summary

#### Expected vs Current Be

[2021-09-09 22:50] davetsay opened #4203 "Say man, you got GLOBAL SETTINGS? Cause it'd be a lot cooler if you did"
**Describe the solution you'd like**
Some form of editable global settings/preferences should be implemented to provide a better user experience
* theme could be changed on the fly
* plot colors could be changed (see problem section)

**Is your feature request related to a problem? Please describe.**
* current default plot color in espresso theme can be difficult to see, even worse with screen sha

[2021-09-09 22:52] davetsay commented on #4203
@charlesh88, assigning to you as if this were to be implemented it would need some serious design work.

cc: @akhenry , this came about because the default choice for plot color garnered a complaint. What are your thoughts on some sort of global preferences?

[2021-09-10 00:21] jvigliotta commented on #4203
I like this... I think enabling search/search indexing could be a part of it as well. Could also add simple names for common plugins as well, default namespaces, etc.

[2021-09-10 18:04] kobe1104 opened #4206 "[Tabs View] Making requests when switching tabs while eager load is true"
The tabs view is making new requests when switching tabs while eager load is true.
It should not make new request unless clock mode is changed while eager load is true since they are already loaded.

#### Summary

#### Expected vs Current Behavior

Expected: No new requests should be made while switching tabs.
Current: Making new requests when switching tabs.

#### Impact Check List

- [ ] Data lo

[2021-09-10 18:30] #4065 closed

[2021-09-10 22:06] jvigliotta opened #4207 "[Display Layout] Grid disappearing when scrolling down (in Edit Mode)"
#### Summary

When editing a display layout, if you move an object down lower and the layout has to scroll, the grid background just stops. Possibly new area being added doesn't have css applied?

#### Expected vs Current Behavior

Grid should show.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there

[2021-09-11 00:28] akhenry opened #4209 "Fix the various memory leaks that prevent Open MCT from being unloaded from the browser"
#### Summary
A lot of Open MCT code assumes that the application is never unloaded from the browser. This is true in normal usage, but our test specs rely on being able to cleanly load and unload Open MCT.

#### Expected vs Current Behavior

- All event listeners must be removed on application destroy.
- All stateful libraries (I'm looking at you AngularJS) must be cleanly unloaded when an Open MC

[2021-09-11 00:31] akhenry commented on #4209
Testing notes:
* Verify that tests run correctly
* There are no functional changes here, so there is nothing specific in the application to test, however it is possible that bugs were introduced. The JavaScript console should be observed for errors during normal usage of the application.

[2021-09-13 20:18] scottbell commented on #4192
1. look at plotly lib on putting values in the bar chart
2. need to do, modify spectral generator to test
3. ✅
4. ✅
5. need to do, put at bottom and take up full real estate.
6. need to make sure in display layout, vertical squishes data like other plots

[2021-09-13 20:44] #4007 closed

[2021-09-13 22:36] shefalijoshi commented on #4192
@charlesh88 Please assist as you see fit or if @scottbell  needs you

[2021-09-13 22:51] shefalijoshi commented on #4192
X axis labeling to fit - let Plotly handle this,
- What happens if the labels are mixed lengths?

Bar width - let Plotly handle it for now. If something comes up, we can specify behavior later.

Hover - OK for now since we have only 1 telemetry endpoint at a time we have no issues about what to show on hover.

Colors for traces should be supported (Inspector - see Plot Series Form)

[2021-09-14 00:36] #3840 closed

[2021-09-14 00:36] #4039 closed

[2021-09-14 17:42] shefalijoshi opened #4212 "Rename Spectral Aggregate Plot to Bar Graph"
**Is your feature request related to a problem? Please describe.**
Spectral Aggregate Plots are not specifically 'spectral' plots. So we should rename them to just 'Bar Graph'

**Describe the solution you'd like**
Rename the domain object type for Spectral Aggregate Plots to bar-graph
Rename the view provider, composition policy, views etc and the files associated with Spectral Aggregate Plots to

[2021-09-14 22:17] #4194 closed

[2021-09-15 22:30] charlesh88 commented on #3839
### Test Notes for Loading Indicator
@jvigliotta please edit/amend here as needed.

1. Make or edit a Telemetry Table with data such that paging will occur. @jvigliotta please add better instruction here.
2. Verify that a horizontal loading bar appears at the top of the table and animates left to right while loading is occurring:

![Screen Shot 2021-09-15 at 3 27 33 PM](https://user-images.githubu

[2021-09-16 15:16] scottbell commented on #4192
left padding is still having some issue as there's a clearly defined box around the plot which makes the graph look a little funny

[2021-09-16 19:29] jvigliotta opened #4216 "[Plots] Undefined error for plotWrapper reference"
#### Summary
MCTPlot.vue is throwing an error if you quickly navigate away from a plot right when you get on it. Looks like in the handleWindowResize method, you need to check if `this.$parent.$refs.plotWrapper` is defined before trying to act on it.
Not a huge deal, doesn't block anything, but throws the error randomly.

<img width="589" alt="Screen Shot 2021-09-16 at 11 43 07 AM" src="https://us

[2021-09-16 22:15] shefalijoshi opened #4217 "I think we should create a component for the color switch and selection since it is now being used both by Open MCT Plots and Plotly charts."
I think we should create a component for the color switch and selection since it is now being used both by Open MCT Plots and Plotly charts.
Could you convert this into a component and import it here?

_Originally posted by @shefalijoshi in https://github.com/nasa/openmct/pull/4214#discussion_r710287689_

[2021-09-16 22:42] shefalijoshi commented on #4177
Testing instructions:

- Creating a Bar Graph from the Create menu works
- Adding *any* telemetry endpoint with at least 1 'range' hint works, displays the 'range' metadata names on the X-Axis and respective values on the Y-Axis.
- Adding *aggregate* telemetry endpoint (detector1PulseHeights/detector2PulseHeights), displays the 'range' metadata names on the X-Axis (ch0, ch1, ch2...ch31) and respec

[2021-09-16 23:10] #4216 closed

[2021-09-17 18:23] davetsay opened #4222 "Authors should consider backwards compatibility"
**Is your feature request related to a problem? Please describe.**
Changes can break how users are using Open MCT. We should be cognizant of that.

[2021-09-17 20:11] #4193 closed

[2021-09-17 23:20] #3990 closed

[2021-09-17 23:32] akhenry opened #4226 "Remove time context switching from views"
**Is your feature request related to a problem? Please describe.**
Open MCT [now supports independent time control in some views](https://github.com/nasa/openmct/pull/3988). Yay! The change that enables this introduces the concept of "time contexts". A view can be following either an independent time context (that is configured for the specific view) or the global time context (which is controlled

[2021-09-18 00:08] akhenry opened #4227 "Imagery in time strip view should follow realtime bounds changes"
* [x] Imagery in time strip views do not handle realtime changes. They should. See https://github.com/nasa/openmct/pull/4114#pullrequestreview-757902838.
* [x] We also need some unit tests

[2021-09-18 00:50] #4200 closed

[2021-09-18 04:52] shefalijoshi opened #4228 "When the main Time Conductor is in Fixed Mode, the independent Time Conductor only has one option: Fixed Mode. We should not show the independent mode selector in this case, but should just hide it."
When the main Time Conductor is in Fixed Mode, the independent Time Conductor only has one option: Fixed Mode. We should not show the independent mode selector in this case, but should just hide it.
![Screen Shot 2021-09-17 at 3 59 16 PM](https://user-images.githubusercontent.com/1056412/133862146-ddd3424d-a82d-4ffa-9c2c-e9d26898d1ce.png)

_Originally posted by @charlesh88 in https://github.com/na

[2021-09-18 16:53] #3927 closed

[2021-09-18 19:57] akhenry opened #4229 "Address review comments for Bar Graphs"
Review comments in https://github.com/nasa/openmct/pull/4221 need to be addressed and tested before 1.7.8 is closed out.

- [x] Remove Spectral Generator metadata and provider from example generators.
- [x] Remove Spectral Aggregate metadata and provider from example generators.
- [x] Remove Spectral plot related code - maybe keep it in a separate branch if needed.

- [x] Add an alias for plotly-b

[2021-09-18 21:07] #4100 closed

[2021-09-18 21:07] #4101 closed

[2021-09-18 21:07] #4178 closed

[2021-09-18 21:07] #4102 closed

[2021-09-18 21:07] #4191 closed

[2021-09-18 21:07] #4192 closed

[2021-09-18 21:08] #4212 closed

[2021-09-18 21:08] #4217 closed

[2021-09-20 13:15] scottbell commented on #4229
I've made a branch and have addressed all except:

-  Check that data returned by the telemetry request and subscribe calls are within the time bounds provided (was going to look and see how plot does this. hopefully something else does this!)
- Move BarGraphCompositionPolicy tests to the plugin level (was this unchecked intentionally?)
- Format data before adding it to the traces for display (was

[2021-09-20 16:23] shefalijoshi commented on #4229
Thanks @scottbell We're good now. Let's write some tests! :)

[2021-09-20 17:42] charlesh88 commented on #4164
Beyond fixing this bug, we should file another issue, maybe in the VISTA repo, I don't think we have this problem in vanilla Open MCT.

In short, all objects should have _some_ view. Containers that are used to subdivide large dictionaries (like "Dictionary" > "A" > "A001 - A099") could simply inherit the Folder view. A configured Data Set object could have a view that displays a read-only table o

[2021-09-20 21:41] akhenry commented on #4122
Identified an issue that occurs with slow connections where one user adds an entry to  a shared notebook, and before that change has propagated to everybody another user creates a new entry. This will result in a 409 conflict error.

Have implemented a fix that detects this case, and attempts a merge of both notebook entries. There may be other edge cases where conflicts can occur on slow connecti

[2021-09-20 21:50] unlikelyzero commented on #4162
#Testing Instructions

Run the Github Workflow and view the results!

[2021-09-20 21:52] davetsay commented on #3788
TESTING INSTRUCTIONS:
Navigate to Open MCT using various devices and see that site functions as intended. Some functionality may be limited on smaller resolution devices or devices using Safari as the browser.

[2021-09-20 21:52] unlikelyzero commented on #4200
@jvigliotta  to add testing notes

[2021-09-20 21:58] khalidadil commented on #4042
# Testing instructions

1. If possible, create a clock before the change and then change to the branch with the change. Ensure that the clock continues to display properly and that editing the properties works.
2. Create a clock object and choose some values in the creation dialog. Ensure that the time is displayed and is in the appropriate format based on the options chosen (proper timezone, form

[2021-09-20 21:58] jvigliotta commented on #4202
## Testing
- view a telemetry endpoint in fixed time
- note the rows after they've loaded
- change the time bounds by a small amount (minute or so)
- note that the rows are not doubled

[2021-09-20 21:59] #4122 closed

[2021-09-20 21:59] charlesh88 commented on #4200
Needs testing notes!

[2021-09-20 22:13] davetsay commented on #3788
verified

[2021-09-20 22:18] charlesh88 commented on #2977
### Testing Notes
1. Create or edit a Time Strip view.
2. Add image telemetry to the composition.
3. Verify that images are shown in the strip. Note that if imagery is close enough together in time, the actual imagery may not be displayed until rolled over with the mouse:

Images too close to be displayed in the strip:
![image](https://user-images.githubusercontent.com/1056412/134083256-adf83e20-0

[2021-09-20 22:19] akhenry opened #4234 "Table data export does not export all available rows"
#### Summary
The Export Table Data action will only export the data available in the client, even if there is more data available on the server. This is due to the recent addition of paging support which will asynchronously populate the table with new pages as they are fetched.

#### Expected vs Current Behavior
Export Table Data should export all available data. The current behavior is that it wi

[2021-09-20 22:19] akhenry commented on #4200
Verified fixed

[2021-09-20 22:20] akhenry commented on #4200
This fix has introduced a bug into some related functionality - https://github.com/nasa/openmct/issues/4234

[2021-09-20 22:20] charlesh88 commented on #2977
Verified Testathon 9-20-21.

[2021-09-20 22:25] akhenry commented on #4234
@charlesh88 @jvigliotta We should discuss potential approaches here. It _might_ be ok to disable the action until all of the data has returned? The user is going to have to wait either way, and waiting for the table to finish loading will be quicker than starting again. Also we have an activity indicator in tables, we don't for the export action.

[2021-09-20 22:26] kobe1104 commented on #4202
Hi @jvigliotta  seems like the very last row is still repeating.
![Screen Shot 2021-09-20 at 3 20 58 PM](https://user-images.githubusercontent.com/19918427/134083850-454d113e-7cc4-40b6-abc2-b2a89fe483be.png)

Steps to reproduce:
1. Create a telemetry table that contains a telemetry point.
2. Set clock to fixed timespan. And set end time to 1 second more than start time
3. Save and reload the page.

[2021-09-20 22:26] khalidadil commented on #4122
I'm still seeing this issue.

[2021-09-20 22:28] khalidadil commented on #4122
https://user-images.githubusercontent.com/2343076/134084188-770468c2-5473-4fbb-8c44-53f437ad5af0.mov

[2021-09-20 22:29] davetsay commented on #3927
verified

[2021-09-20 22:33] kobe1104 commented on #4200
Verified fixed testathon 9/20/2021.

[2021-09-20 22:38] akhenry commented on #3839
I am seeing two issues here:
1. Creating a new, empty table results in an endless progress indicator:
<img src="https://user-images.githubusercontent.com/4215777/134085708-ecc592b0-33d9-4f47-b9e8-b1686e873314.png" width="200")
2. Adding a telemetry point to the table causes the progress indicator to disappear immediately. I am expecting it to remain until _all_ available telemetry data has been re

[2021-09-20 22:41] charlesh88 commented on #3927
Verified fixed Testathon 9-20-21.

[2021-09-20 22:41] charlesh88 commented on #2942
Verified fixed Testathon 9-20-21.

[2021-09-20 22:41] akhenry commented on #2380
@davetsay  Can we mark this verified yet?

[2021-09-20 22:45] charlesh88 commented on #4042
Testathon 9-20-21: Clock object not available to create and not displayed in the Status area. Unverified.

[2021-09-20 22:47] khalidadil commented on #4042
@charlesh88 It's not at the top of the "Create" list for you?

[2021-09-20 22:48] charlesh88 commented on #4065
Verified Testathon 9-20-21.

[2021-09-20 22:48] shefalijoshi commented on #2977
Reopening as this doesn't work for non example imagery due to assumption of 'time' property

[2021-09-20 22:49] nikhilmandlik opened #4235 "[Timestrip] Imagery strip showing empty"
#### Summary
Imagery strip showing empty instead of images

#### Expected vs Current Behavior
Imagery strip should show new images

#### Impact Check List
- [x] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [x] Is this just a visual bug?

#### Steps to Rep

[2021-09-20 22:50] davetsay opened #4236 "console error on navigation away from timeline object"
#### Summary
Console error received when navigating away from a timeline object.

#### Expected vs Current Behavior
No console errors on navigation away from timeline object.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ]

[2021-09-20 22:52] jvigliotta commented on #4177
Looks awesome, nice work!

Couple issues I found:
- unable to change colors, click on the color in the inspector (in edit mode) and nothing happens, save and refresh, still nothing
- deleting an item (with multiple items) from a bar chart while editing, deletes all endpoints

[2021-09-20 22:58] khalidadil commented on #4122
Verified Fixed

[2021-09-20 22:59] nikhilmandlik commented on #4177
1. Missing horizontal axis line (marker line) for value '0'
![Uploading Screen Shot 2021-09-20 at 3.56.36 PM.png…]()

[2021-09-20 23:02] kobe1104 commented on #4177
- [x] - Creating a Bar Graph from the Create menu works
- [x] - Adding any telemetry endpoint with at least 1 'range' hint works, displays the 'range' metadata names on the X-Axis and respective values on the Y-Axis.
- [x] - Adding aggregate telemetry endpoint (detector1PulseHeights/detector2PulseHeights), displays the 'range' metadata names on the X-Axis (ch0, ch1, ch2...ch31) and respective valu

[2021-09-20 23:08] davetsay commented on #4042
Since this was taken out of the angular bundles and installed as a plugin it needs to be manually installed in deployments. @khalidadil . We can retest after we install in VIPER repo.

[2021-09-20 23:08] shefalijoshi commented on #4202
Verified fixed

[2021-09-20 23:09] nikhilmandlik commented on #4065
Verified Fixed.

[2021-09-20 23:10] khalidadil commented on #4065
Verified Fixed

[2021-09-20 23:10] charlesh88 opened #4237 "Values in Bar Graph display with weird characters in Y axis labels"
yVelocity telemetry point:

<img width="999" alt="Screen Shot 2021-09-20 at 4 02 24 PM" src="https://user-images.githubusercontent.com/1056412/134087992-7a8ce2d1-d7ba-40fb-ab8b-2e60924b4b26.png">

Sine wave generator:

<img width="1066" alt="Screen Shot 2021-09-20 at 3 50 24 PM" src="https://user-images.githubusercontent.com/1056412/134087997-1eb4ec42-561d-431a-8df9-1b2e4b7f559e.png">

DOM inspect

[2021-09-20 23:11] nikhilmandlik commented on #3927
Verified Fixed.

[2021-09-20 23:11] shefalijoshi commented on #4065
Verified fixed

[2021-09-20 23:11] unlikelyzero commented on #4236
Note: this needs further investigation

[2021-09-20 23:12] shefalijoshi commented on #4060
Tests did not fail... so fixed?

[2021-09-20 23:12] charlesh88 commented on #4177
Testathon 9-20-21: some problems identified, filed new issue for Y axis labels: https://github.com/nasa/openmct/issues/4237

[2021-09-20 23:13] shefalijoshi commented on #4200
Verified fixed

[2021-09-20 23:14] charlesh88 commented on #4177
Think this is @charlesh88's fault, will look into.

[2021-09-20 23:20] unlikelyzero commented on #4202
reopening for @jvigliotta to verify that we're getting 1000 vs 1001

[2021-09-20 23:32] unlikelyzero commented on #4019
@nikhilmandlik to verify before thursday

[2021-09-20 23:32] #4019 closed

[2021-09-20 23:34] unlikelyzero commented on #4234
Bumping severity for now

[2021-09-21 16:14] jvigliotta opened #4239 "[Telemetry Tables] Progress bar is not showing correctly during loading"
#### Summary

The progress bar is supposed to show whenever the table is making historical requests. This allows the user to know when all the data has been loaded and is available. Currently the bar does not show correctly.

#### Expected vs Current Behavior

#### Impact Check List

- [x] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ]

[2021-09-21 16:27] nikhilmandlik commented on #4019
Verified Fixed.

[2021-09-21 18:44] charlesh88 opened #4240 "JSON import causing 409 errors"
Importing a domain object JSON file is causing 409 errors in the 1.7.8 build. Despite this, the imported objects appear whole and to function as expected.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this impact a critical component?
- [ ] Is this just a visua

[2021-09-21 21:53] charlesh88 opened #4241 "Import as JSON dialog select file button not working properly"
#### Summary
Seen during issues described in #4240.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [x] Is there a workaround available?
- [x] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to Reproduce

**Setup**
Use an Open MCT deployment in which the Clock notifier is no

[2021-09-21 22:09] akhenry commented on #4241
This is almost certainly an Angular digest issue, and related to the removal of the Angular clock component. The Angular clock had the side effect of trigger regular Angular digests. The long term fix is to rewrite the Angular forms dialog in Vue, which is underway.

A potential short term fix is simply to manually trigger a digest once the user is done selecting a file (maybe onchange could be us

[2021-09-22 17:36] #4240 closed

[2021-09-22 17:39] unlikelyzero commented on #4227
Blocker due to data loss

[2021-09-22 17:58] unlikelyzero commented on #4145
Working as designed

[2021-09-22 17:58] #4145 closed

[2021-09-22 18:04] unlikelyzero commented on #3529
@charlesh88 could you ensure that this severity is accurate and that the issues are not already resolved?

[2021-09-22 18:05] #3737 closed

[2021-09-22 18:07] unlikelyzero commented on #3756
@charlesh88 can you verify that this was not already fixed?

[2021-09-22 18:12] unlikelyzero commented on #4000
Please verify that this hasn't already been fixed as a part of #4007

[2021-09-22 21:10] #4236 closed

[2021-09-22 21:13] shefalijoshi commented on #4237
Fixed this in the viper-openmct repository by adding a meta tag with utf-8

[2021-09-22 21:13] #4237 closed

[2021-09-22 21:13] #4235 closed

[2021-09-22 21:38] michaelrogers commented on #4119
I'd like to claim this ticket for the 1.7.8 sprint.

[2021-09-22 22:06] akhenry commented on #4234
Closed by https://github.com/nasa/openmct/pull/4245

[2021-09-22 22:06] #4234 closed

[2021-09-22 22:43] #4241 closed

[2021-09-23 02:52] unlikelyzero commented on #2563
closed by https://github.com/nasa/openmct/pull/3361

[2021-09-23 02:52] #2563 closed

[2021-09-23 02:52] unlikelyzero commented on #2663
closed by https://github.com/nasa/openmct/pull/3361

[2021-09-23 02:52] #2663 closed

[2021-09-23 09:26] scottbell commented on #4196
I'm not seeing able to replicate this bug in the latest checkout from 1.7.8, though I may not following the steps properly. Here's what I did:

- Created a SNG that varies between -10 and 10
<img width="603" alt="image" src="https://user-images.githubusercontent.com/9853862/134482847-56d2cf41-45e9-498b-aca0-3e5a70d88547.png">

- Created a Condition Set with a condition that will never be true (is

[2021-09-23 10:05] scottbell commented on #4196
I've got a branch fixing I think the above bug 👆:
https://github.com/nasa/openmct/compare/1.7.8...mct4196?expand=1
We weren't waiting for the telemetry to return before running handleConditionSetResultUpdated after finishing an edit. I changed the function to be async to make the code more clear for future developers.

[2021-09-23 12:03] scottbell commented on #4196
I'm now able to reproduce the original bug now too. Not sure what changed, but will investigate.

[2021-09-23 13:00] scottbell commented on #4196
Ok, figured out a way to reliably reproduce:

1. Select condition widget. Select "Styles" tab on inspector
2. Navigate away to another object
3. Select condition widget again. Enable editing mode. Color on Condition Widget does not change

From running this through the debugger, the issue appears to be in the StylesRuleManager's editing state is not being set properly, and it think it in the above

[2021-09-23 15:45] #4222 closed

[2021-09-23 16:43] #4239 closed

[2021-09-23 16:49] jvigliotta opened #4248 "[Telemetry Table] Progress Bar Tests"
New progress bar for telemetry tables needs tests.

[2021-09-23 16:57] khalidadil commented on #4013
@nikhilmandlik Can you please confirm if this is still an issue?

[2021-09-23 17:12] khalidadil commented on #4013
This is what I see on banner latest

![Screen Shot 2021-09-23 at 12 11 09 PM](https://user-images.githubusercontent.com/2343076/134553109-8efdd21f-d170-4e40-b64b-7eb9e60e94dd.png)

[2021-09-23 17:30] unlikelyzero opened #4251 "Update CircleCI to run fewer tests per commit and update Firefox ESR version"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-09-23 17:46] jvigliotta commented on #4228
@shefalijoshi seems straightforward, but can you provide testing notes?

[2021-09-23 17:47] #4228 closed

[2021-09-23 17:57] scottbell commented on #4196
After some investigation, it looks like the issue was the `toggleEdit` (and the `refreshData`) in the `StylesRuleManager` were losing this context. I changed both to be declared as arrow functions in the constructor to preserve `this` context, as the bind didn't appear to be working inside the class.

[2021-09-23 18:11] khalidadil commented on #4013
@nikhilmandlik and I couldn't reproduce this. I added the unverified tag and we should check this in testathon.

[2021-09-23 19:25] michaelrogers commented on #4119
After speaking to @shefalijoshi about this issue, we believe it has been resolved in a commit that has already been merged into the `1.7.8` branch. I will close this ticket and mark it ready for testing.

[2021-09-23 19:53] shefalijoshi commented on #4228
Testing notes:
Enable the independent time conductor for a time strip while the Global time conductor settting is in 'Local Clock' mode.
Now change the Global time conductor setting to Fixed timespan.
Expected: The independent time conductor should also show fixed time span start and end bounds inputs but not the mode.

[2021-09-23 20:35] shefalijoshi opened #4252 "Bar graph color change not taking effect for dictionary items"
#### Summary
Unable to change the color of a telemetry endpoint added from the VIPER dictionary

#### Expected vs Current Behavior
When a color from the color swatch is chosen, expectation is that the color of that series bar should reflect that color.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is the

[2021-09-23 21:14] michaelrogers commented on #4138
I'd like to claim this issue to work on. I am claiming it verbally since I cannot assign the issue at preset.

[2021-09-23 21:38] akhenry opened #4254 "Condition widgets are causing persistence conflicts with Couch DB"
#### Summary
Condition widgets cause persistence conflicts when viewing them, or when viewing a layout that contains persistence widgets. This is because they persist their state even when nothing has changed.

#### Expected vs Current Behavior
Condition widgets should not persist their state unless it has been changed. Currently persistence widgets (and possibly sets) use mutation to establish in

[2021-09-23 21:51] nikhilmandlik commented on #4000
resolved by PR: https://github.com/nasa/openmct/pull/4020

[2021-09-23 21:53] #4000 closed

[2021-09-23 21:53] #4013 closed

[2021-09-23 22:06] shefalijoshi commented on #4146
See #https://github.com/nasa/openmct/issues/4254

[2021-09-23 22:25] akhenry commented on #4146
See VIPEROMCT-60 for detailed reproduction steps.

[2021-09-23 22:25] akhenry commented on #4254
Closing as dupe of https://github.com/nasa/openmct/issues/4146

[2021-09-23 22:25] #4254 closed

[2021-09-23 22:26] akhenry commented on #4146
Closed #4254 as a dupe of this one. Brought reference to JIRA issue with repro steps across as comment.

[2021-09-24 07:39] scottbell commented on #4252
I think was fixed in:
https://github.com/nasa/openmct/pull/4232
we just haven't merged it in yet

[2021-09-24 09:13] scottbell commented on #4196
I've opened a PR which includes the fix, and a unit test:
https://github.com/nasa/openmct/pull/4255

[2021-09-24 09:37] scottbell commented on #4138
@michaelrogers just saw your comment! sorry about that. I created a branch already FWIW called `mct4138`. The issue appears to be the `startMarquee` function in `MctPlot.vue`:
https://github.com/nasa/openmct/blob/1.7.8/src/plugins/plot/MctPlot.vue#L738

The marquee is used for zoom in on the plot, so we'll need to distinguish between a real zoom, and the user merely clicking on the plot. Most meth

[2021-09-24 09:45] scottbell commented on #3981
Was able to reproduce, investigating now.

[2021-09-24 13:06] michaelrogers commented on #4138
No problem Scott. Locally, I naively removed the `startMarquee` function from the `onMouseDown` handler logic fork, but I had not fully investigated the potential downsides of that approach yet. I do like your suggestion of using the mouse state to deduce the intent of the user.

[2021-09-24 17:08] #4252 closed

[2021-09-25 06:27] aimanafzal commented on #3537
@davetsay  Can you assign it to me? as I have started work on it

[2021-09-27 16:49] shefalijoshi commented on #4139
@davetsay @khalidadil I've tried resizing a plot vertically in it's own view and in display layouts and have not seen requests triggered.

[2021-09-27 16:49] nikhilmandlik commented on #4119
@michaelrogers if this is not reproducible we can close it and ll test this during testathon 😄

[2021-09-27 16:56] khalidadil commented on #4139
@davetsay I've done the same as @shefalijoshi and can't seem to reproduce this issue. Can you take a look and close it out if it's fixed?

[2021-09-27 17:47] #3980 closed

[2021-09-27 17:47] akhenry commented on #3980
Closed as all suggestions have been addressed separately.

[2021-09-27 18:20] michaelrogers commented on #4119
@nikhilmandlik - that works for me. I currently do not have permissions to close the issue, would you be willing to do that to update its status?

[2021-09-27 18:21] #4119 closed

[2021-09-27 18:26] shefalijoshi opened #4258 "Handle missing objects gracefully in Open MCT"
#### Summary
When objects in views are missing, we should not fail but handle the issue gracefully.

#### Expected vs Current Behavior
Currently several views fail with console errors and Open MCT shows an endless spinner when objects are missing.
We should ensure that views load even when objects are missing.

#### Impact Check List

- [x] Data loss or misrepresented data?
- [x] Regression? Did t

[2021-09-27 19:21] #4115 closed

[2021-09-27 20:19] akhenry opened #4260 "Consider supporting permalinks for objects that includes object revision"
**Is your feature request related to a problem? Please describe.**
Open MCT supports linking to user created objects which can be referenced from external documents and systems. Links can include timestamps so that subsequent visits to the link will show the same data that was observed when the link was created. Subsequent changes to the object itself however can mean that historical context is lo

[2021-09-27 20:31] jvigliotta commented on #4167
## Testing Notes
#4202

[2021-09-28 10:08] scottbell commented on #4111
I think we can close this

[2021-09-28 10:44] scottbell commented on #3981
@charlesh88 Would it be appropriate to set `gl-plot-legend` `min-height` to something like `18px`?

[2021-09-28 14:28] #4248 closed

[2021-09-28 17:04] #3898 closed

[2021-09-28 17:57] khalidadil opened #4265 "User inputs need to be sanitized"
#### Summary

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [X] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to Reproduce

1.
2.
3.
4.

#### Environment
* Open MCT Version:
* Deployment Type:
* OS:

[2021-09-28 19:39] #4202 closed

[2021-09-28 19:44] #4146 closed

[2021-09-28 19:44] #4227 closed

[2021-09-28 21:31] shefalijoshi commented on #4129
Created a new PR for 1.7.8 - See #4267

[2021-09-28 21:34] shefalijoshi commented on #4129
This is a duplicate of #3955

[2021-09-28 21:35] shefalijoshi commented on #3772
This feature is no longer required as the independent time control for plans is now available. Closing

[2021-09-28 21:35] #3772 closed

[2021-09-28 21:40] shefalijoshi commented on #3223
Unable to reproduce. Will retest.Closing.

[2021-09-28 21:40] #3223 closed

[2021-09-28 21:44] shefalijoshi commented on #2950
Duplicate of #4196

[2021-09-28 21:44] #2950 closed

[2021-09-28 21:48] jvigliotta commented on #3615
Going to close this due to inactivity, feel free to reopen if the problem is not resolved.

[2021-09-28 21:48] #3615 closed

[2021-09-28 22:04] nikhilmandlik commented on #3898
Verified Fixed.

[2021-09-28 22:06] unlikelyzero commented on #4237
Testing notes for latest fix:
verify that nothing strange shows up on the y-axis of a bar graph

[2021-09-28 22:10] #4042 closed

[2021-09-28 22:10] unlikelyzero commented on #4042
testable after change made on viper repo

[2021-09-28 22:14] charlesh88 commented on #2977
Testathon 9-28-21, NOT fixed: clicking an image in the thumbstrip view should display the same image paused in large view, but instead always displays the latest image.

![image](https://user-images.githubusercontent.com/1056412/135173046-495b7948-44f8-4556-bd27-0e4b0e11b701.png)

![image](https://user-images.githubusercontent.com/1056412/135172967-fd8739ce-ef47-4e7f-8e86-4a9ee39cd372.png)

[2021-09-28 22:17] charlesh88 commented on #3223
Testathon 9-28-21: verified fixed.

[2021-09-28 22:20] shefalijoshi commented on #2977
Issue found:
Hovering over an image in the time strip view continually requests an image from the server:
![image](https://user-images.githubusercontent.com/5247066/135173622-fbc513c2-4f02-46ec-95e0-e7bad6119f1d.png)

[2021-09-28 22:23] shefalijoshi commented on #4239
Verified fixed.

[2021-09-28 22:26] shefalijoshi commented on #4227
Verified fixed.

[2021-09-28 22:26] jvigliotta commented on #4000
Verified Fixed - Testathon 9/28

[2021-09-28 22:27] charlesh88 commented on #4252
Testathon 9-28-21: verified fixed.

[2021-09-28 22:30] jvigliotta commented on #4013
Verified Fixed - Testathon 9/28

[2021-09-28 22:32] shefalijoshi commented on #4236
Verified Fixed.

[2021-09-28 22:33] shefalijoshi commented on #4141
Verified Fixed.

[2021-09-28 22:36] nikhilmandlik commented on #4235
Verified Fixed.

[2021-09-28 22:36] jvigliotta commented on #2977
Issue:
Some lines seem to be behind the strip. Also, images aren't showing in small mode (if they're supposed to).

<img width="1172" alt="Screen Shot 2021-09-28 at 3 35 50 PM" src="https://user-images.githubusercontent.com/12013460/135175076-08df8abd-f7cb-48c7-b22c-1a0687750cbd.png">

[2021-09-28 22:40] shefalijoshi commented on #4119
Verified Fixed

[2021-09-28 22:41] charlesh88 opened #4268 "Thumbs in Timestrip views need work"
1. When images are too horizontally compressed to show them, we default to placeholders, currently a grey rectangle:

[2021-09-28 22:41] shefalijoshi commented on #4115
Verified Fixed

[2021-09-28 22:42] nikhilmandlik commented on #3223
Verified Fixed.

[2021-09-28 22:45] khalidadil commented on #4240
This looks good to me

[2021-09-28 22:49] shefalijoshi commented on #4234
Unable to test since YAMCS was not functioning at the time.

[2021-09-28 22:49] jvigliotta commented on #4042
Looks good to me! I tested the timer as well and didn't see any issues.

Verified Fixed - Testathon 9/28

[2021-09-28 22:52] khalidadil commented on #4228
Verified fixed

[2021-09-28 23:02] unlikelyzero commented on #4167
Will retest with Yamcs is not "behaving poorly"

[2021-09-28 23:06] charlesh88 commented on #4146
Testathon 9-28-21: verified fixed.

[2021-09-28 23:07] jvigliotta commented on #4146
Verified Fixed - Testathon 9/28

[2021-09-28 23:30] #2063 closed

[2021-09-28 23:36] charlesh88 commented on #4177
Testathon 9-28-21:
Plot series in Inspector formatting still not addressed:

**Bar Graph**

![Screen Shot 2021-09-28 at 4 34 44 PM](https://user-images.githubusercontent.com/1056412/135179451-f889c09d-04a8-4e77-8166-6ee4ef604d40.png)

**Should look like Overlay Plot**

<img width="282" alt="Screen Shot 2021-09-28 at 3 32 35 PM" src="https://user-images.githubusercontent.com/1056412/135179421-34022

[2021-09-28 23:52] charlesh88 opened #4269 "Better handling of Overlay Plots added to Bar Graphs"
#### Summary
Users can create an Overlay Plot directly into a Bar Graph

![Screen Shot 2021-09-28 at 4 42 30 PM](https://user-images.githubusercontent.com/1056412/135180189-712403cc-f41a-4a1a-8dc1-73fd990ea7fc.png)

or can drag an Overlay Plot onto a Bar Graph, adding it. Either action results in the Bar Graph failing to display anything.

#### Expected vs Current Behavior
Either treat the Overlay

[2021-09-29 00:20] charlesh88 commented on #4177
Just pushed a fix for the hidden 0 line issue to https://github.com/nasa/openmct/pull/4270

[2021-09-29 08:50] scottbell commented on #3981
Removing myself from this issue to go back to work on
https://github.com/nasa/openmct/issues/4196

[2021-09-29 19:30] nikhilmandlik commented on #3981
another way to fix is remove `overflow: hidden;` from `.c-plot-legend` file 'openmct/src/styles/_legacy-plots.scss'
@charlesh88 any suggestions?
<img width="460" alt="Screen Shot 2021-09-29 at 12 24 23 PM" src="https://user-images.githubusercontent.com/1292612/135335841-647ca271-31f5-461d-b29c-6b2440359b52.png">

[2021-09-29 19:50] #4129 closed

[2021-09-29 19:56] shefalijoshi commented on #4177
@scottbell  Please take a look at https://github.com/nasa/openmct/issues/4177#issuecomment-929699862

[2021-09-29 19:57] jvigliotta opened #4273 "[Telemetry Collections] Duplicate requests on load"
#### Summary
When loading a telemetry collection, a deliberate call to request historical is made, this isn't necessary, since the timeSystem is also triggered on load and it will request telemetry. Need to remove the initial request.

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been bro

[2021-09-29 20:39] davetsay commented on #4084
This was tested and released in VISTA

[2021-09-29 20:49] nikhilmandlik commented on #4139
@davetsay  Unable to reproduce, closing.
Let test this again in testathon

[2021-09-29 20:49] #4139 closed

[2021-09-29 21:27] #4229 closed

[2021-09-30 10:24] scottbell commented on #4177
Fixed in PR here:

<img width="602" alt="image" src="https://user-images.githubusercontent.com/9853862/135438020-0649cfb4-ba50-4733-b521-8996de137a94.png">

[2021-09-30 11:30] imrishabh18 commented on #4207
@jvigliotta Can I take up this issue? I am new to this will be needing your help with this 😁

[2021-09-30 12:10] scottbell commented on #4177
Ok, I think I've got the bar graph inspector squared away now:
<img width="567" alt="image" src="https://user-images.githubusercontent.com/9853862/135451505-38282509-af41-455c-ad4b-49d6e6197e53.png">
https://github.com/nasa/openmct/pull/4275

[2021-09-30 12:54] scottbell commented on #4269
For 1.7.8, I was thinking we should do the easy thing and just disallow overlay plots in the composition policy. For the other option (treating the Overlay Plot as an aggregate data source and display its constituents as such), should we have a separate ticket?

[2021-09-30 13:59] #4196 closed

[2021-09-30 14:00] shefalijoshi commented on #4269
We will disallow Overlay Plots as part of a Bar Graph's composition.

[2021-09-30 17:17] #3974 closed

[2021-09-30 20:55] Manu-pardo opened #4279 "Unable to install openmct on linux (Pop_OS! 21.04)"
#### Summary
  When attempting to install the last stable version of openmct, it fails and shows several warnings and errors such as EBADENGINE, deprecated or no longer maintained packages, error code 1, python2 not found, and much more.

I tried to update dependencies with npm update or npm update --force and also npx npm-check-updates -u.

#### Expected vs Current Behavior
 It should install the

[2021-09-30 21:23] #4138 closed

[2021-09-30 22:34] #4273 closed

[2021-09-30 22:37] nikhilmandlik commented on #4139
Verified Fixed.

[2021-09-30 22:38] charlesh88 commented on #2977
Testathon 9-30-21: verified fixed.

[2021-09-30 22:41] khalidadil commented on #4237
Verified Fixed in testathon on 09/30/2021

[2021-09-30 22:42] jvigliotta opened #4281 "[Telemetry Collections] Duplicate requests"
#### Summary
Telemetry collections make duplicate requests on initial load.

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to Reproduce

1. view a t

[2021-09-30 22:42] nikhilmandlik commented on #4167
Verified Fixed.

[2021-09-30 22:44] shefalijoshi commented on #4196
Verified fixed

[2021-09-30 22:45] jvigliotta commented on #4237
Verified fixed - Testathon 9/30

[2021-09-30 22:45] nikhilmandlik commented on #4138
Verified Fixed.

[2021-09-30 22:48] shefalijoshi commented on #4248
Verified fixed

[2021-09-30 22:50] jvigliotta commented on #4241
Verified fixed - Testathon 9/30

[2021-09-30 22:50] charlesh88 commented on #3955
Testathon 9-30-21: NOT fixed. Alignment works if the user adds end points that need more space, but if a end point is added that needs _less_ space, that item is not sized properly:

![image](https://user-images.githubusercontent.com/1056412/135539848-7c0ae5c1-eabf-436e-9e23-3af6852738ac.png)

Replicate:
1. On banner, make a stacked plot.
2. In this order, add WheelOdometry > wVelocity, xVelocity,

[2021-09-30 22:52] shefalijoshi commented on #4167
Sometimes I see the page refreshing when making a time conductor change. But I'm not sure how to reliably trigger this.

[2021-09-30 22:52] #2977 closed

[2021-09-30 22:56] nikhilmandlik commented on #3974
Verified Fixed.

[2021-09-30 22:56] unlikelyzero opened #4282 "Duplicate requests made for Plots"
#### Summary
NEEDS UPDATING.
Similar to https://github.com/nasa/openmct/issues/4273 but follows a different codepath

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this impact a critical component?
- [ ] Is this just a visual b

[2021-09-30 22:57] davetsay commented on #4273
verified

[2021-09-30 22:57] unlikelyzero commented on #4273
Not to be confused with: https://github.com/nasa/openmct/issues/4282

[2021-09-30 22:57] shefalijoshi commented on #4138
Verified fixed except an orange border shows up on mousedown till you mouse up - probably can't be prevented.

[2021-09-30 22:57] khalidadil commented on #4202
Verified Fixed in Testathon on 09/30/2021

[2021-09-30 22:58] jvigliotta commented on #4138
Verified fixed - Testathon 9/30 - ditto to what @shefalijoshi said

[2021-09-30 22:59] kobe1104 commented on #4241
Verified fixed - testathon 9/30/2021

[2021-09-30 23:00] charlesh88 opened #4283 "Toggling Time Conductor changes setting in Independent Time Conductor"
#### Summary

#### Expected vs Current Behavior

#### Impact Check List

- [x] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to Reproduce

1. Put Time Conductor (TC) into Local UTC.
2. Enable Independent Time Cond

[2021-09-30 23:01] kobe1104 commented on #4237
Verified fixed - testathon 9/30/2021

[2021-09-30 23:02] shefalijoshi commented on #3955
Partially fixed - while actively adding telemetry endpoints the y-axis is still not aligned for multiple endpoints.
Refreshing does align them.

[2021-09-30 23:06] unlikelyzero commented on #4167
Leaving this unverified for another testathon. Please explore the area identified by @shefalijoshi https://github.com/nasa/openmct/issues/4167#issuecomment-931757176

[2021-09-30 23:10] davetsay commented on #4167
@jvigliotta assigning to you

[2021-09-30 23:22] akhenry opened #4284 "Table performance issue when inserting new rows"
#### Summary
Tables are exhibiting slow performance on modest datasets (1000+ rows). This becomes particularly apparent with telemetry that has large data objects, such as Yamcs "Events" data.

The issue appears to be in [the check for duplicate values](https://github.com/nasa/openmct/blob/master/src/api/telemetry/TelemetryCollection.js#L193).

The code will first create a shortlist of candidate d

[2021-09-30 23:32] khalidadil commented on #4258
I'm still seeing a few errors

in a Display Layout:
![Screen Shot 2021-09-30 at 6 29 26 PM](https://user-images.githubusercontent.com/2343076/135544115-87182c4b-bb62-4d7d-a6b0-e517138d089d.png)

in a Overlay Plot:
![Screen Shot 2021-09-30 at 6 30 51 PM](https://user-images.githubusercontent.com/2343076/135544197-dc579e5f-40f0-453c-93c6-8eea58368d7a.png)

in a Stacked Plot:
![Screen Shot 2021-09-30

[2021-09-30 23:48] akhenry commented on #4284
After some further investigation I suspect that [this issue](https://github.com/akhenry/openmct-yamcs/issues/87) is the root of the problem.

[2021-10-01 14:44] imrishabh18 commented on #4154
@unlikelyzero Can I help with this?

[2021-10-01 17:23] shefalijoshi opened #4285 "Telemetry Collections should work with independent time contexts"
The telemetry collection API should determine whether it needs to follow the global time context or independent time context for a given domain object.

**Describe the solution you'd like**
If a telemetry endpoint (or it's parent view) is using an independent time context, the data returned by the telemetry collection should follow that time context.

**Additional context**
The image below shows a

[2021-10-01 17:24] shefalijoshi commented on #4285
Developer might consider accepting an `objectPath` as a parameter to the `openmct.telemetry.requestCollection` API to achieve this.

[2021-10-01 22:18] nikhilmandlik commented on #4147
Unable to reproduce, let test again in next testathon.

[2021-10-01 23:34] akhenry commented on #4154
@imrishabh18 Go for it!

[2021-10-01 23:34] akhenry commented on #4154
@shefalijoshi  Any way you could provide repro steps that work locally?

[2021-10-01 23:42] akhenry commented on #3599
@michaelrogers I would first check that this is reproducible and then let's talk about next steps.

Might need a tweak to [the plot's "composition policy"](https://github.com/nasa/openmct/blob/master/src/plugins/plot/overlayPlot/OverlayPlotCompositionPolicy.js).

[2021-10-02 15:36] imrishabh18 commented on #4154
@akhenry Can you help me with finding the snapshot button please? I am not able to reproduce this

[2021-10-04 17:34] akhenry commented on #4284
Closing in favor of [a corresponding issue](https://github.com/akhenry/openmct-yamcs/issues/87) in the Open MCT - Yamcs repo.

[2021-10-04 17:34] #4284 closed

[2021-10-04 18:49] michaelrogers commented on #3599
@akhenry - I am not able to immediately reproduce this issue. I'm double checking my overlay plot configuration and attempting a few edge cases but I did not see evidence of the image being added to the composition when I inspected the exported JSON of the plot.

[2021-10-04 21:00] akhenry commented on #3286
@charlesh88 This seems like something we should fix. Mind taking a look?

[2021-10-05 18:19] akhenry commented on #3966
I believe that the underlying issue is that node-sass is deprecated. This will be fixed by https://github.com/nasa/openmct/issues/3997

It does look as though [node-sass have recently added support for Node 16](https://github.com/sass/node-sass/issues/3077), so it may be possible to bump the version number and fix this in the interim.

[2021-10-05 18:20] akhenry commented on #4279
@Manu-pardo Thanks for reporting this. Based on your provided log file it actually looks as though you are building in Node 16, rather than 12 as reported? eg.
[code]

Unfortunately we do have [some issues building with Node 16 right now](https://github.com/nasa/openmct/issues/3966).

Could you try building with node 12?

[2021-10-05 19:30] shefalijoshi opened #4288 "Bar graphs don't work when metadata source is not 'utc'"
#### Summary
When the source of time metadata is not 'utc', bar graphs don't show data that's within the time bounds.

#### Expected vs Current Behavior
Data should be shown if it's within time bounds.

#### Impact Check List

- [x] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this impact a

[2021-10-05 21:41] #4269 closed

[2021-10-05 22:29] shefalijoshi opened #4290 "Issues with imagery time strip view"
Testathon 9-28-21, NOT fixed: clicking an image in the thumbstrip view should display the same image paused in large view, but instead always displays the latest image.
Also, if the time strip view is using it's own independent time context, use that in the preview.

![image](https://user-images.githubusercontent.com/1056412/135173046-495b7948-44f8-4556-bd27-0e4b0e11b701.png)

![image](https://use

[2021-10-05 22:33] #4288 closed

[2021-10-05 22:39] #4290 closed

[2021-10-06 14:06] AdamElliott-AB opened #4293 "New objects not getting added to parent object - couchdb"
#### Summary
We are using couchdb for persistence. Recently started having problems creating new objects. New objects seem to be created fine at first. They can be viewed and edited, but if the page is refreshed the new object is gone. Looking at the network traffic and couchdb database revealed that new object documents are getting added to couchdb, but the parent object document is not getting u

[2021-10-06 15:46] akhenry commented on #4283
From the outset I always thought that independent time conductors should be overridden by the global time conductor when it changes, but now I'm not so sure. The user has deliberately decided to focus on a particular time period, so maybe we should _never_ override that unless they explicitly tell us to? ie. they switch independent time controls back off again, or we provide some method of force s

[2021-10-06 16:57] jvigliotta opened #4294 "[Time Conductor] Pan/Zoom causes duplicate bounds events"
#### Summary
Pan/Zoom on conductor causes two bounds events to be emitted, resulting in double requests for views listening to those events.

This is due to zoom/pan being calculated based off of width of selection, which can result in decimal timestamps. The solution would be to normalize those measurements before setting the bounds with them.

#### Expected vs Current Behavior
One request should

[2021-10-06 17:08] akhenry commented on #3599
@michaelrogers  Ah! yes, close it and add an `unverified` label. That way it will get picked up in the next round of testing. Once it's confirmed fixed by testing, we will remove the `unverified` label.

[2021-10-06 20:04] AdamElliott-AB commented on #4293
We were using 1.7.5. We did not notice the problem until we updated to 1.7.7 We afterwards reverted to 1.7.5 but the problem was still present.

[2021-10-06 21:02] #4294 closed

[2021-10-06 21:20] charlesh88 commented on #4203
**YES YES YES YES I'VE BEEN PETITIONING FOR THIS FOR YEARS!!!**

What could we do with this, you ask?
- Allow much better dialog and warning messages with "Got it - don't tell me again" checkboxes.
- An optional Verbose UI mode (aka "Jay" mode) that adds textual labels to all iconic buttons. We will absolutely need this for DIY mission control.
- Theme preference, as mentioned.
- Set a user-define

[2021-10-06 22:02] akhenry commented on #4147
I have also observed this FWIW, but I don't have any repro steps right now.

Good idea to retest the next testathon and see if anyone can reliably reproduce.

[2021-10-06 22:04] akhenry commented on #4293
@AdamElliott-AB Thanks for the info. Which version of Couch are you using?

We are not seeing exactly what you're describing in our own deployments, but [we are tracking an issue with some similarities](https://github.com/nasa/openmct/issues/4147). The issue we have observed is transient though and we haven't managed to reproduce it reliably.

[2021-10-06 22:34] #4152 closed, assigned to shefalijoshi

[2021-10-06 23:07] charlesh88 opened #4299 "Display Layout snapping grid not displaying while editing"
#### Summary
Title says it all. Appears as though a recent change moved the target for the `s-selected` attribute from `l-shell__main-container` to its immediate child, breaking the CSS used to display the grid holder.

#### Expected vs Current Behavior
Snapping grid should display (if enabled) while editing.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did th

[2021-10-06 23:10] charlesh88 commented on #4299
### Testing Notes
1. Edit a Display Layout.
2. Make sure snapping grid is enabled.
3. Observe: grid should be displayed.

[2021-10-06 23:50] akhenry commented on #4293
@AdamElliott-AB Is it possible that your browser or proxy have cached 1.7.7, and that after you reverted to 1.7.5 you were actually still using 1.7.7? This can happen sometimes when switching versions. You can confirm the version by clicking on the Open MCT logo in the top right.

Also, are you seeing any errors when this problem occurs? In the network tab, in the JavaScript console, or in the UI?

[2021-10-07 00:09] charlesh88 commented on #3981
@scottbell @nikhilmandlik You guys are both not wrong, but it's a bit more complex than that and we need a better solution than just setting min-height on the legend. There's all sorts of nested scrolling that needs cleaning up. Frankly, it's become kind of a mess over time.

WIP in branch `fix-3981`.

[2021-10-07 17:41] #4090 closed

[2021-10-08 17:13] shefalijoshi commented on #3955
Verified fixed.

[2021-10-08 17:17] kobe1104 commented on #3599
Verified fixed. Testathon 10/8/2021

[2021-10-08 17:17] davetsay commented on #3981
needs testing instructions @charlesh88 . I'm not sure what the cut off is to where plot legends should legitimately be clipped or not.

![image](https://user-images.githubusercontent.com/3614296/136597126-6e5e179a-3b43-43e5-99fb-8809920f3fe9.png)
don't know if this is okay or if should show legends in this really small resolution.

[2021-10-08 17:19] nikhilmandlik commented on #3599
Verified Fixed.

[2021-10-08 17:39] davetsay commented on #4147
@akhenry can you do a think on this one?

This is easily reproducible if you have two people. The tree is not seeing the other users updates. I think we could solve this by observing composition on visible nodes that allow composition. @nikhilmandlik mentioned you might have worked on an object refresh capability.

[2021-10-08 17:45] unlikelyzero commented on #4229
Going to keep this closed and track issues in https://github.com/nasa/openmct/issues/4177

[2021-10-11 21:44] akhenry opened #4305 "The Object API should propagate out fresh model to any observers when .get() is called"
**Is your feature request related to a problem? Please describe.**
The composition in the object tree [has been observed to get out of sync with the composition shown in views](https://github.com/nasa/openmct/issues/4147). It is speculated that this occurs when a composition change occurs to an object that the user has previously viewed in their session. If they subsequently navigate back to that

[2021-10-12 17:25] scottbell opened #4307 "Improve condtionWidget & clearData tests"
Per the npm test:coverage, these two parts of the code have very little test coverage. I plan to add some useful tests. Furthermore, the clearData tests were written by me very early in the project and should be redone to use the openmct API.

[2021-10-12 17:47] akhenry commented on #4103
Let's park this work for now. This will be addressed under the "user awareness" theme for VIPER build 6.

[2021-10-13 18:10] shefalijoshi opened #4309 "Plans must display the version and state"
Plans must display the version and the state if available. This is so that users can tell which plan they're looking at.
See VIPEROMCT-51

Since plan versions and state could be different for different user's do this is in a generic way.

[2021-10-13 18:12] unlikelyzero commented on #4307
@scottbell we've informally been tracking this type of work on the 'Improve Test Coverage' project with a `label:type:maintenance`

[2021-10-13 21:18] khalidadil opened #4313 "Three dot action menu in the main pane doesn't refresh on object state change"
#### Summary
The three dot menu doesn't refresh on updating object state. For the timer, specific actions show should when it's in a certain state (started/stopped/paused), and I notice that it works on the tree but not on the main pane.

#### Impact Check List
- [ ] Data loss or misrepresented data?
- [X] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround

[2021-10-13 21:22] #4177 closed

[2021-10-13 23:03] davetsay opened #4315 "linting error and warnings"
#### Summary

Linting warnings and error received from running `npm run lint` locally

#### Expected vs Current Behavior

`npm run lint` should not produce any lint errors nor warnings

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical compone

[2021-10-13 23:15] #4315 closed

[2021-10-13 23:42] #4299 closed

[2021-10-14 20:13] charlesh88 opened #4319 "Notebook time frame and sorting method aren't persistent, but should be"
#### Summary

The timeframe (all, last 8 hours, etc. ) and sort method for entries within a given Notebook are supposed to be persistent, but navigating away or refreshing will reset them to their defaults. Instead, both settings should be retained _per Notebook_.

![image](https://user-images.githubusercontent.com/1056412/137390545-a89557dd-409c-4418-806d-7188f866d728.png)

This behavior could ha

[2021-10-14 20:53] shefalijoshi commented on #4293
I was able to reproduce similar behavior by doing the following:
1. Create an *empty* openmct database in CouchDB
2. Right-click on My Items and choose 'Add new Folder'.
3. Click OK. You will see a persistence error:
![image](https://user-images.githubusercontent.com/5247066/137390236-75feda05-e924-42d1-bbd8-57fe0ad30153.png)
4. Notice that the Folder DOES show up in the navigation tree.
5. Import

[2021-10-14 21:06] charlesh88 opened #4320 "Plot and Bar Chart styling should apply consistently"
#### Summary
Changing the font size and family in a plot view and bar graph view should affect the legend, axis labels and ticks. Currently, the legend works properly, labels are affected inconsistently, and the tick's font family is changed (inconsistently) and is never resized:

![Screen Shot 2021-10-14 at 2 00 10 PM](https://user-images.githubusercontent.com/1056412/137394814-d8654485-d848-457e

[2021-10-15 17:07] charlesh88 commented on #4203
@akhenry In my read, this is all about per-user global settings, not administered "all-user" global settings. IMO, administered global settings belong in the deployment config; I'm not aware of any solid use cases for an admin UI allowing dynamic global changes of this nature. If that _is_ needed, let's do that later and separately.

[2021-10-15 17:59] akhenry opened #4323 "Fix all code that is using creatability as a proxy for persistability"
#### Summary
Some of our code is using the `creatable` property of object types to determine whether an object can be persisted. Creatability and persistability are two different things. The `creatable` property only tells you whether or not an object type appears in the Create menu and nothing else. An overlay plot can be created from the Create menu, but it can also be exposed as static JSON in

[2021-10-15 20:19] unlikelyzero commented on #4177
Verified fixed

[2021-10-15 20:22] unlikelyzero commented on #4282
Verified

[2021-10-15 20:31] charlesh88 commented on #4320
Also seen in Bar Charts 10/15/12 on /testathon.

[2021-10-15 21:39] charlesh88 opened #4326 "Plot cursor guide and grid toggle buttons have inconsistent enabled/disabled states"
**Is your feature request related to a problem? Please describe.**
Two buttons in plots perform similar toggle on/off of capabilities, but use two different strategies for displaying those states.

**Both disabled**
![Screen Shot 2021-10-15 at 1 52 00 PM](https://user-images.githubusercontent.com/1056412/137556305-acd458fc-30cc-441c-a4f2-ac3aced827f6.png)

**Cursor guides enabled**
![Screen Shot 2

[2021-10-15 22:00] shefalijoshi opened #4327 "Imagery in timestrip view shows the wrong image in large view"
#### Summary

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [ ] Does this impact a critical component?
- [ ] Is this just a visual bug?

#### Steps to Reproduce

1.
2.
3.
4.

#### Environment
* Open MCT Version:
* Deployment Type:
* OS:

[2021-10-15 22:09] charlesh88 opened #4328 "Changing the Time Conductor bounds while the Imagery View is paused displays a broken image"
#### Summary
Changing the Time Conductor (TC) Start or End bounds while the Imagery View is paused displays a broken image, but shouldn't.

#### Expected vs Current Behavior
What should happen when the TC real-time bounds are changed while an image view is paused:
- If the selected past image is within the new TC bounds, there are two proposed solutions, A and B:
  - Option A (preferred): thumbs i

[2021-10-15 22:25] charlesh88 opened #4329 "Tabs View should support sub-object selection, but doesn't"
**Is your feature request related to a problem? Please describe.**
Tabs View would benefit from an ability to edit child objects via sub-object selection.

**Describe the solution you'd like**
When editing a Tabs View, the user should have a selection gesture to click on a placed object within the view to select it. Selecting it works the same as selecting an object in the Flexible Layout view, wi

[2021-10-15 22:33] charlesh88 opened #4330 "More Options menus are displaying both View and View Large action options, but shouldn't"
![image](https://user-images.githubusercontent.com/1056412/137561034-7b1113da-ce0e-4084-ba72-01803e863b8b.png)

#### Summary
More Options menus in layout sub-object containers are displaying both View and View Large action options, but shouldn't

#### Expected vs Current Behavior
We should keep a "View" option and remove "View Large". We should check if both options are calling the same function,

[2021-10-18 18:29] charlesh88 opened #4334 "Condition Widgets are not expanding when frames are hidden"
#### Summary
Condition Widgets should expand to fill their frames in a layout, when those frames are using the hidden setting, like this:

![Screen Shot 2021-10-18 at 11 22 48 AM](https://user-images.githubusercontent.com/1056412/137785886-2de40382-e340-4a7e-ad93-7eee73ec9732.png)

Instead, they remain their default size, like this:

![Screen Shot 2021-10-18 at 11 20 48 AM](https://user-images.git

[2021-10-18 20:01] #4305 closed, assigned to nobody

[2021-10-18 20:01] #4147 closed

[2021-10-18 20:17] #4078 closed

[2021-10-19 20:10] scottbell opened #4337 "Document CouchDB configuration for OpenMCT"
We should document how to install and configure CouchDB for use with OpenMCT. Create a markdown document in the CouchDB plugins directory instructing a developer how to do this. Caveat this will only be for a development setup, not for a production setup.

[2021-10-19 20:12] akhenry opened #4338 "Error reported on first persist to a fresh Couch DB database"
#### Summary
The first time you attempt to persist an object to a fresh Couch DB database Open MCT will report an error persisting My Objects. The error is then replaced by a message indicating that persistence was successful. All objects are created successfully.

#### Expected vs Current Behavior
Open MCT should not report any errors the first time it persists to Couch DB.

#### Impact Check Lis

[2021-10-19 22:01] jvigliotta opened #4339 "[LAD] [Alphanumeric] Update views to use Request Animation Frame (RAF)"
**Is your feature request related to a problem? Please describe.**
Currently not many views use RAF, which can increase performance by letting the browser determine when to update the page.

**Describe the solution you'd like**
Any time new data is going to be updated in the template, we should have that use RAF to determine the best time to do so. LAD Tables/LAD Table Sets/Alphanumerics are prime

[2021-10-20 23:25] charlesh88 commented on #4164
@davetsay Checking in on this issue, let's discuss possble options.

[2021-10-21 17:16] #3961 closed

[2021-10-21 17:26] davetsay opened #4343 "Refactor LAD tables/sets to add functionality while defaulting to current behavior for backwards compatibility"
**Is your feature request related to a problem? Please describe.**
LAD tables are lacking in functionality.

**Describe the solution you'd like**
* Autotabular mode (default)
** (existing functionality) singular value column based on each telemetries' highest priority value metadata
* Full display mode
** Columns are the union of the value metadatas for all telemetry
* Functionality for telemetry

[2021-10-21 18:50] jvigliotta opened #4344 "[StackedPlots] Programatically created MCTPlots aren't being destroyed"
#### Summary
StackedPlots have a StackedPlotItem as children. In StackedPlotItem, a MCTPlot is programmatically created, because of this, Vue is unaware it's a child of StackedPlotItem. Need to programmatically destroy these plots, when StackedPlotItem is destroyed.

#### Expected vs Current Behavior
The plots in the stacked plot should also be destroyed and their resources released.

#### Impact

[2021-10-22 16:41] akhenry opened #4349 "Tables are showing data outside of conductor bounds"
#### Summary
Telemetry tables are showing data with timestamps that are after the end bound of the time conductor. This is demonstrated in this example screenshot provided by the open source community:

![Screen Shot 2021-10-22 at 9 16 49 AM](https://user-images.githubusercontent.com/4215777/138491900-c834013d-5a74-4e0d-a7ca-a93cb4f6091e.png)

#### Expected vs Current Behavior
Telemetry tables sho

[2021-10-22 17:54] #4344 closed, assigned to nobody

[2021-10-22 17:57] akhenry opened #4350 "Time Conductor "Current" value is wrong in real-time mode"
**Is your feature request related to a problem? Please describe.**
In real time mode the Time Conductor shows a time stamp labeled "Current" which is taken from the end time of the current time bounds. If the time conductor has end padding applied then it is not in fact the _current_ time, it is some time in the future. The positioning of the end offset input further reinforces the idea that the t

[2021-10-22 18:47] jvigliotta opened #4351 "[Tabs] Eager Load Tabs: False, Not Working"
#### Summary
Tabs with "Eager Load Tabs" option set to false, should throw away any tab views that aren't the currently viewed tab. As of now, these views are being kept alive and are using resources in the background.

#### Expected vs Current Behavior
When you have "Eager Load Tabs" set to false, only the current tab's view, should be loaded. Other tabs, upon becoming background tabs, should thr

[2021-10-22 23:07] akhenry opened #4352 "Scrubbing and zooming the time conductor should update the start and end inputs in real time"
#### Summary
When scrubbing or zooming the time conductor, the values in the start and end inputs should update in realtime. Note that the bounds in the time API should **not** update until the user has released the mouse.

This is a very recent regression and might be related to the [independent time conductor changes](https://github.com/nasa/openmct/pull/3988).

![Screen Recording 2021-10-22 at

[2021-10-23 00:47] davetsay opened #4353 "pinch zoom while hovering over plot action buttons should act like pinch zoom while hovering over plot"
#### Summary

When a user hovers over the overlay buttons in plots (eg. zoom in, zoom out, sync time conductor) they leave the plot context. If they then use pinch zoom, not zoom, pinch zoom, the whole browser will zoom since that is the default browser behavior. We should make the buttons part of the plot context.

#### Expected vs Current Behavior

A user would expect when the cursor is within t

[2021-10-23 00:52] davetsay opened #4354 "plots inside a stacked plot should have view large ability"
**Is your feature request related to a problem? Please describe.**
Individual plots inside of stacked plots do not have the view large option

**Describe the solution you'd like**
Individual plots inside of stacked plots should have the view large option

[2021-10-23 00:58] davetsay opened #4355 "Selecting a date from time conductor date selector should select reasonable times"
#### Summary

When a date is selected using the date selector, the time is set to some arbitrary time. The time is consistent for the session?, but arbitrary between sessions.

#### Expected vs Current Behavior

Selecting a start date should set the time to the beginning of the day, eg. 0:00:00. Selecting an end date should set the time to the end, or close to the end of the day selected, eg. 23:5

[2021-10-24 23:08] davetsay opened #4356 "y-axis ticks does not need to show exact precision"
**Is your feature request related to a problem? Please describe.**
The y-axis ticks show the exact precision of numeric formats. High precisions could lead to very long y-axis ticks, eg. 1.40000000000e+00. The ticks should be shorter to maximize plot space and minimize visual clutter. The ticks do not need to be so precise because they are not specific data values.

**Describe the solution you'd l

[2021-10-24 23:11] davetsay opened #4357 "i want to hide visual clutter when viewing plots"
**Is your feature request related to a problem? Please describe.**
Sometimes it is useful to view just a general plot shape changing over a time span.

**Describe the solution you'd like**
Plot elements should allow visibility to be toggled (legend, y-axis, x-axis)

[2021-10-24 23:13] davetsay opened #4358 "dense legends can interfere with plot view"
**Is your feature request related to a problem? Please describe.**
The legend dropdown takes up a lot of space, which limits the plot space.

**Describe the solution you'd like**
Legend could be moved and/or added to the inspector to free up space in plots.

[2021-10-24 23:15] davetsay opened #4359 "move image export and cursor/grid toggle actions to action menu"
**Is your feature request related to a problem? Please describe.**
These actions available for plot views takes up an entire row of vertical space.

**Describe the solution you'd like**
The actions should move to the action menu and exposed in the browse bar (next to snapshot and 3 dot menu)

[2021-10-24 23:20] davetsay opened #4360 "fix plot color scheme (especially in espresso)"
**Is your feature request related to a problem? Please describe.**
Plots are harder to see with the new color palette.

**Describe the solution you'd like**
plot colors should be more clear. especially first default color. especially in espresso.

**Additional context**
old teal color is much more contrasting to background than the new blue color
![image](https://user-images.githubusercontent.com/

[2021-10-24 23:27] davetsay opened #4361 "Implement Telemetry Request Abort"
**Is your feature request related to a problem? Please describe.**
Clicking multiple views in succession will continue to queue up requests, even if the view has been destroyed and the requests are not needed anymore. If enough requests are queued up the UI becomes unusable.

**Describe the solution you'd like**
Implement abort in views

**Additional context**
There should be partial implementatio

[2021-10-25 09:02] trusktr opened #4362 "Ability to update or poll for time bounds manually."
**Is your feature request related to a problem? Please describe.**

Yes: when making a custom view with a time conductor (scrubber), I want to update the view continually while the timeline is dragged. However it seems that openmct fires the `bounds` event only once I let go of the scrubber. I'd like to get bounds continually while moving my pointer.

**Describe the solution you'd like**

At the m

[2021-10-25 19:22] trusktr opened #4365 "Invalid Sass syntax in source code"
#### Summary

https://github.com/nasa/openmct/blob/cf3566742bbb64ae930f6a68f6590a4b8bde2a14/src/styles/_legacy-messages.scss#L123-L126

That invalid syntax can not be parsed by `sass`. It seems to be missing an `@` symbol? Also not sure why but `node-sass` (which is now deprecated) did not have a syntax error here (either that or it was somehow being skipped), but when I updated apres_openmct to `

[2021-10-25 20:08] akhenry opened #4369 "New Transactions API needs test specs"
**Is your feature request related to a problem? Please describe.**
[Recent changes](https://github.com/nasa/openmct/pull/4195) to the transactions API need some test specs.

[2021-10-25 21:07] #4337 closed, assigned to scottbell

[2021-10-26 19:30] akhenry opened #4377 "Drag and drop composition no longer seems to work with Folders in Grid View in some cases"
#### Summary
Dragging an item from the tree into a folder view in grid mode is failing to add that item to the drop target in some casees.

#### Expected vs Current Behavior
Dragging an item from the tree into a folder should always create a link to that item in the folder. The current behavior is that a link is not created, and the item does not appear in the folder. It still seems to work just f

[2021-10-26 21:06] shefalijoshi opened #4378 "Creating a new Condition Set goes into Browse mode"
When I create a new Condition Set, it doesn't go into Edit mode, instead saving directly into Browse mode with this error:

    at parseKeyString (object-utils.js?c88f:63)
    at Array.map (<anonymous>)
    at ObjectAPI.areIdsEqual (ObjectAPI.js?4467:510)
    at ApplicationRouter.isNavigatedObject (ApplicationRouter.js?ae1c:150)
    at ConditionSetViewProvider.canView (ConditionSetViewProvider.js?

[2021-10-27 06:01] unlikelyzero opened #4381 "[Test Coverage] Re-enable skipped unit tests"
At the time that this issue was filed (10/26), 185/1710 tests are being skipped. This ticket captures the work necessary to audit and re-enable skipped tests.

## History

Most of these tests were skipped when unit testing was re-enabled sometime in 2020 as a means to get the build green.
Many suites have a single failing test. Many tests cover deprecated parts of the application.
Ignore /platform

[2021-10-27 16:27] shefalijoshi opened #4382 "Missing object when trying to create an object"
#### Summary

Try to create any object using the create menu - like a condition widget for example.
The object shows up as Missing:...
A console error is shown.

Unable to create objects

#### Expected vs Current Behavior
Object should be created

#### Impact Check List
- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a wo

[2021-10-27 16:32] jvigliotta opened #4383 "[Snapshot][Folder View] Issue with folder view snapshots"
#### Summary
Taking a snapshot of a folder and then previewing it results in a weird render issue (below).
<img width="1637" alt="Screen Shot 2021-10-27 at 9 28 18 AM" src="https://user-images.githubusercontent.com/12013460/139108155-9587671e-9cd8-45f8-95f7-abbe8f2ee00b.png">

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did t

[2021-10-27 16:48] michaelrogers opened #4384 "[BrowseBar] - Updating the title with certain unicode characters can cause an edit mode stickiness"
#### Summary
When editting the BrowseBar title of a folder with certain unicode characters, it can cause an edit mode stickiness that might cause the user to prefix the parent folder title to the current selected object. Note this only seems to affect the BrowseBar and not the edit properties route of changing a title. This will continue to cause a problem until the browser is refreshed.

#### Exp

[2021-10-27 16:50] khalidadil opened #4385 "Moving an object in a Display Layout and clicking off causes it to snap back to previous position"
#### Summary
I'm seeing an issue where moving an object in a display layout and clicking off the object causes it to move back to the original position.

#### Expected vs Current Behavior
The moved object should stay in the new location and not move back.

#### Impact Check List
- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [ ] Is t

[2021-10-27 17:00] shefalijoshi opened #4386 "In time conductor history, show them on hover if only milliseconds have changed"
If there is only millisecond change between start and end time, the history shows the same times. Here
start: 2021-10-27 16:18:26.979Z
end: 2021-10-27 16:18:26.989Z

![image](https://user-images.githubusercontent.com/5247066/139108672-974b5456-fc7d-4890-bd2b-47dca1226161.png)

_Originally posted by @shefalijoshi in https://github.com/nasa/openmct/issues/4197#issuecomment-953104838_

[2021-10-27 17:31] trusktr opened #4387 "Why was engines set to specify Node <16?"
https://github.com/nasa/openmct/blob/f2dbe6d81651205bbfed8f4e3de024f39e67eb2d/package.json#L102-L104

Is it because of the openssl break in Node 17? (f.e. [this](https://github.com/webpack/webpack/issues/14532))

[2021-10-27 17:45] #4387 closed, assigned to nobody

[2021-10-27 19:01] unlikelyzero opened #4389 "[CI] Speed up CircleCI"
CircleCI is taking almost 8 minutes to run against each commit. There are some things we can do about it!

- Increase test speed
- Parallelize tests
- Optimize build assumptions
- Fail fast

### Improvements

- [x] Run Lint steps in parallel or out of the longpole path
- [x] Remove all browsers from runtime. Just run Chrome
- [x] Improve Archive steps by removing html report
- [ ] Cache the browse

[2021-10-27 19:33] jvigliotta opened #4390 "[UTCTimeFormat] Convert to ES6 Plugin"
**Is your feature request related to a problem? Please describe.**
We're migrating away from code in `/platform` and converting to ES6 and plugins whenever possible. Currently the [UTCTimeFormat.js](https://github.com/nasa/openmct/blob/master/platform/commonUI/formats/src/UTCTimeFormat.js) is in our old platform directory and is currently in the AMD format.

**Describe the solution you'd like**
We

[2021-10-28 13:21] unlikelyzero opened #4394 "[CI] Run CodeQL Security scans against every PR"
Now that CodeQL Security scans have been implemented for some time, we can enable security scans against individual PRs.

More information on how to Triage is located here:
https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-code-for-vulnerabilities-and-errors/triaging-code-scanning-alerts-in-pull-requests

# Testing Notes
Implement a security vulnerability and verif

[2021-10-28 16:35] #4382 closed, assigned to nobody

[2021-10-28 19:57] #4394 closed, assigned to nobody

[2021-10-28 22:39] unlikelyzero opened #4398 "[CI] Update linting rules to block on warning and error"
At the moment, our linting rules only block on `Error` and not on `Warning`s. This Issue tracks the work needed to update our `npm run lint` rules to block merges on `Warning`

[2021-10-29 02:09] #4351 closed, assigned to jvigliotta

[2021-10-29 14:52] unlikelyzero opened #4399 "[CI] Add Dependabot to our infrastructure, test, and tooling dependencies"
Dependabot is a great way of managing dependency testing in a hands-free way.

It has lots of utility, but we'd like to restrict it to infrastructure, test, and tooling dependencies. Because we're not using a lockfile, it's possible for individual dependencies to break between builds (and the pain falls onto the individual contributor who happens to be merging at that time).

# Testing Notes
Verif

[2021-10-29 16:21] #4377 closed, assigned to nobody

[2021-10-29 16:22] #4399 closed, assigned to nobody

[2021-10-29 17:16] jvigliotta opened #4400 "[Bar Graph Plugin] Accepts types that it should not"
#### Summary
I had accidentally created a condition set inside of a bar graph. Tried creating some other types, but looks like only condition set is the issue.

#### Expected vs Current Behavior

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression? Did this used to work or has it always been broken?
- [ ] Is there a workaround available?
- [x] Does this impact a critic

[2021-10-29 17:20] unlikelyzero opened #4401 "[Performance] Investigate and implement userTiming API metrics to a "problematic page""
**Is your feature request related to a problem? Please describe.**
We should understand and implement UX Centric performance measurements for problematic parts of the application. A great first implementation would be the time it takes a plot to render on a Display Layouts

**Describe the solution you'd like**
- [x] Investigate the userTiming API
- [ ] Present to team
- [x] Implement a single timi

[2021-10-29 17:44] michaelrogers opened #4403 "[Plot Series] Name does not update when BrowseBar object name is updated"
#### Summary
When changing the BrowseBar object name, the Plot Series Name does not update for the opened domain object. Page refresh resolves the issue. This was observed for the Sine Wave Generator and State Generator.

#### Expected vs Current Behavior
Plot Series Name stays synchronizes with the BrowseBar update.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [ ] Regression

[2021-10-29 18:07] akhenry opened #4406 "[Performance] Check views for memory leak on navigation"
There is a class of memory leak that occurs where references to view objects are retained even after the view has been destroyed. View destruction occurs on navigation.

The usual reason for this is a failure to clean up event handlers.

This can cause performance degradation of the application over time as memory builds up. This is a particular issue with views that hold onto historical telemetry

[2021-10-29 19:35] akhenry opened #4407 "Implement User API"
Introduce user "awareness" into Open MCT to enable user and role specific functionality such as role-specific home pages.

The specific details of how users are identified and authenticated will be platform specific, so we need an API that delegates those details to a "User Provider".

Here are some thoughts on how we can break this problem down:
1. Introduce a new "User API" eg. `openmct.user.get

[2021-10-29 20:17] mudinthewater opened #4408 "Query by time system X, plot by time System Y should be configurable."
**Is your feature request related to a problem? Please describe.**
Right now, every installed time system is available for configurable X-axis. So if you have the following three time systems installed:

SCLK (integer based)
ERT (UTC-Based)
SCET (UTC-Based)

Each will show as an option to switch X-axis on incoming data in plots.

This isn't quite ideal, as in that scenario, ERT-queried data is via

[2021-10-30 14:40] #526 closed

[2021-10-30 16:54] unlikelyzero opened #4413 "[CI] Codecov reports are not generated for Forked PRs"
At the moment, it looks like codecov reports are not being generated for PRs coming from a fork: i.e. https://github.com/nasa/openmct/pull/4412

[2021-10-30 18:07] unlikelyzero commented on #4413
Closing. The issue was that the PR was forked before codecov's configuration file had been merged.

[2021-10-30 18:07] #4413 closed

[2021-11-01 13:06] scottbell commented on #3881
Though I've resolved the issue of saving objects to CouchDB through @shefalijoshi's fix, it looks like the synchronization is still broken. For example, creating an object of `SYNCHRONIZED_OBJECT_TYPES` (like a notebook) causes the shared worker to engage, but then immediately fails:
`Editor.js?3ce0:82 Uncaught (in promise) TypeError: Cannot read properties of null (reading 'cancel')
    at eval (

[2021-11-01 13:14] scottbell commented on #3881
This appears to be a timing issue. This:
https://github.com/nasa/openmct/blob/master/src/api/Editor.js#L69
Is being called before this:
https://github.com/nasa/openmct/blob/master/src/api/Editor.js#L81
It's not clear to me why we're invoking cancel in the first place though.

[2021-11-01 13:47] scottbell commented on #3881
I think the cancel is happening because the `SaveAsAction` is failing due to:
[code]

[2021-11-01 14:37] akhenry commented on #4009
closing in favor of https://github.com/nasa/openmct/issues/4009

[2021-11-01 14:37] #4009 closed

[2021-11-01 14:47] akhenry commented on #4361
I would like to see this implemented in the API if possible, so that we don't have to put a lot of boilerplate in individual views. On navigation the telemetry API could automatically abort the request and reject the promise. That way, our views would only need to handle rejected promises (which they should anyway) and would not need specific handling for handling abort.

The Telemetry API would j

[2021-11-01 15:02] scottbell commented on #3881
Still looks like an interplay between transactions and what the persistence plugin is expecting. In `SaveAsAction`, we call `persist`:
https://github.com/nasa/openmct/blob/master/platform/commonUI/edit/src/actions/SaveAsAction.js#L136
which invokes a patch that destroys the mutable object:
https://github.com/nasa/openmct/blob/master/src/plugins/notebook/monkeyPatchObjectAPIForNotebooks.js#L23
whic

[2021-11-01 15:06] scottbell commented on #3881
Adding a null check seems to fix it:
[code]
@akhenry @shefalijoshi I'm a bit lost on the observer interaction, but would the above be ok?

[2021-11-01 17:01] akhenry opened #4417 "Fix CodeQL issues"
CodeQL is now checking all new code submissions for issues, but there are 18 legacy issues in our codebase that predate the introduction of CodeQL. These should be addressed.

This is the list of issues:
https://lgtm.com/projects/g/nasa/openmct/?mode=list

[2021-11-01 17:55] oxctdev opened #4420 "Ability code injections in [sub.nasa.gov] remote a webshell_executed"
#### Summary
Introduce my name [ANDRI](https://twitter.com/andridev_) I am currently a bughunter for a company, [Hackerone LTD.](https://hackerone.com/andridev_)

I did Penetration Testing on the nasa.gov domain and for days I tried to find security holes in the entire nasa.gov domain, and finally I got to that stage, I found a vulnerability that had a fatal impact on the network and web applicati

[2021-11-01 18:01] akhenry commented on #4420
This repository is for the Open MCT application.

Please report issues with the nasa.gov domain to the NASA security operations center at soc@nasa.gov. Be prepared to report the specific details of any purported security vulnerabilities.

[2021-11-01 18:01] #4420 closed

[2021-11-01 18:02] oxctdev commented on #4420
Nice for closed!

[2021-11-01 19:18] shefalijoshi commented on #4378
This is happening because ApplicationRouter.isNavigatedObject's targetObject doesn't have an identifier. Since the targetObject is an 'oldFormat' object, not a new domain object.

[2021-11-01 19:50] akhenry commented on #4400
Bar charts are probably accepting objects that produce telemetry, which condition sets do, but without considering whether the telemetry is actually plottable in a bar chart (ie. does it produce numbers?).

[2021-11-01 19:51] akhenry commented on #4385
It appears that clicking in display layouts is triggering an object refresh, which it shouldn't.

[2021-11-01 19:53] jvigliotta commented on #2674
Closing as we do not want to couple our standalone plugins to the main code.

[2021-11-01 19:53] #2674 closed

[2021-11-01 21:57] scottbell commented on #4400
I can take this one

[2021-11-01 22:11] scottbell opened #4422 "Notebook Objects cannot be created with CouchDB enabled"
#### Summary
Creating a Notebook Object causes OpenMCT with CouchDB causes a "Save Failed" notification message in the UI, and an uncaught exception in the console:
[code]
This prevents Notebook Objects from being used at all when CouchDB is enabled.

#### Expected vs Current Behavior
The Notebook Object should be created, saved into CouchDB, and updated with changes.

#### Impact Check List
- [X]

[2021-11-01 22:11] scottbell commented on #3881
Split the Notebook Object issue to:
https://github.com/nasa/openmct/issues/4422

[2021-11-01 23:15] unlikelyzero opened #4423 "[CI] Automate the labeling of issues (to some extent)"
Some of the mechanics of issue labeling can be automated.

1. When an issue is closed and implemented, it should get a `unverified` tag. Note: there is no github api to query issues closed-by-automatic-PR-linking.
1. When an issue is added from a non-open-mct-developer, it should get a `source:community` label
1. When an issue is created for tests, documentation, or dependencies, it should get a `

[2021-11-01 23:17] unlikelyzero commented on #4423
Some resources:
https://github.com/peter-evans/create-or-update-comment
https://blog.ksoichiro.com/post/2021/03/comment-on-pr-when-approved/

[2021-11-01 23:20] unlikelyzero opened #4424 "Add Issue template for Security Issues and type:maintenance"
Add a security template for Security Issues like https://github.com/microsoft/playwright/issues/new/choose

Add a new issue type for `type:maintenance`

[2021-11-01 23:21] unlikelyzero commented on #4424
https://github.com/nasa/openmct/pull/4165

[2021-11-02 14:53] scottbell commented on #3881
A PR for this issue has been opened here:
https://github.com/nasa/openmct/pull/4427

[2021-11-02 15:36] scottbell commented on #4400
We are checking range values:
https://github.com/nasa/openmct/blob/master/src/plugins/charts/BarGraphCompositionPolicy.js#L27
[code]
but this isn't enough clearly. Should I be checking for a `formatString` too within the rangeValues?

[2021-11-02 15:48] akhenry commented on #4400
Good question. I think we want to use similar logic to regular plots? Of course I'm assuming they are working correctly in this scenario :)

[2021-11-02 16:06] scottbell commented on #4400
Regular plots behave the same in that you can drop condition sets upon them. E.g.:
<img width="1407" alt="Screen Shot 2021-11-02 at 5 04 17 PM" src="https://user-images.githubusercontent.com/9853862/139894178-398591bc-1ab5-4e0d-ac2f-b9dd45923509.png">
In fact, the composition policy is mostly just a copy/paste from OverlayPlots, except we loosened it a bit to only check the range for values so we

[2021-11-02 16:59] unlikelyzero commented on #4417
Update LGTM Alert rules to suppress app.js issues

[2021-11-02 17:06] unlikelyzero commented on #2449
@unlikelyzero needs to run `npm audit --fix`

[2021-11-02 17:18] unlikelyzero opened #4428 "[CI] Determine if we should enable dependabot security updates OR use snyk.io"
Because we're using devDependencies OR because we're not using a lockfile, dependabot security scanning is not currently configured.

We should investigate the work required to update our existing dependabot config to include more than just build dependencies to include security updates.

We should also investigate using synk.io as another security scanning tool. They likely have an open source pl

[2021-11-02 20:53] unlikelyzero commented on #2449
At the time that this was filed, at least one package was vulnerable. When we removed `karma-html-reporter` https://github.com/nasa/openmct/pull/4416 we removed most of the security issues found in our repo reported from `lodash`

At this time, there is only a single vulnerability reported on the `webpack5-upgrade` branch:

                       === npm audit security report ===

# Run  npm insta

[2021-11-02 21:34] scottbell commented on #4400
Though after talking about this at the tagup, should we trying to plot ConditionSets in BarGraphs, or forbidding them? One can plot them in Overlay plots:
<img width="971" alt="Screen Shot 2021-11-02 at 10 33 06 PM" src="https://user-images.githubusercontent.com/9853862/139954844-ab191790-4d38-4a78-80ef-6c5f0fa0c8dd.png">
Though in BarGraphs, they look rather screwy with the current value being as

[2021-11-02 21:35] unlikelyzero commented on #2449
Normally, dependabot would detect these vulnerabilities for us and open a PR. Unfortunately, because of https://github.com/nasa/openmct/issues/4428 we are not aware of these vulnerabilities. We should consider adding additional steps to our `npm` scripts or CircleCI config, or re-enable depdendabot

[2021-11-02 22:36] charlesh88 opened #4430 "Domain object properties Notes don't appear in Inspector, but should"
#### Summary
This is raised in importance to solve a functional ask to allow users to add authorship and a version number to composed displays in Open MCT.

#### Expected vs Current Behavior
This used to function, filing this as a regression bug.

#### Impact Check List

- [ ] Data loss or misrepresented data?
- [x] Regression? Did this used to work or has it always been broken?
- [x] Is there a w

[2021-11-03 09:04] scottbell commented on #4400
As I'm not sure there's a good way to look for numbers per se, and if we don't want to modify BarCharts to support enums, we could just block telemetry of the `format` that is equal to `enum` in the composition policy.

[2021-11-03 21:17] scottbell commented on #4400
Per discussion in tagup, I'm going to check if the metadata is an enum, and block objects in the composition policy that have it.

[2021-11-04 08:38] scottbell commented on #4400
Fixed in:
https://github.com/nasa/openmct/pull/4434

[2021-11-04 09:42] scottbell commented on #4422
Created a PR for this issue here:
https://github.com/nasa/openmct/pull/4425

[2021-11-04 14:12] unlikelyzero commented on #2449
# Testing Notes

Run `npm audit` and verify that there are no >=Medium security issues
Verify that the nightly includes a failed step for `npm audit --audit-level=low`

[2021-11-04 18:01] akhenry commented on #3833
Condition Widgets now have [feature parity with Summary Widgets](https://github.com/nasa/openmct/pull/4233), so it is time to retire Summary Widgets. We need to create an object interceptor to migrate summary widgets to condition widgets.

[2021-11-04 18:30] jvigliotta opened #4435 "[Tabs] Clicking on a tab will reload the view unnecessarily"
#### Summary
Tabs in eager load mode should keep tab views loaded in the background (which it does), but when you click on the tab to bring it into view, the data is re-requested when it shouldn't be.

#### Expected vs Current Behavior
With "Eager Load Tabs" true, any tab that is clicked, should not need to have data re-requested.

#### Impact Check List

- [ ] Data loss or misrepresented data?
-

[2021-11-04 20:35] #1717 closed

[2021-11-05 17:25] akhenry opened #4438 "New Forms API needs tests"
#### Summary
The [new Forms API](https://github.com/nasa/openmct/pull/3816) is not compliant with our coding standards as it does not have tests.

#### Expected vs Current Behavior
All new code must be accompanied by test specs.

[2021-11-05 17:54] #4026 closed

[2021-11-05 17:54] davetsay opened #4439 "Really large numbers and really small numbers do not plot consistently"
#### Summary

Really large and small numbers (or possibly really high precision numbers) like 6.112074794045e-101 do not consistently plot. Individually one of these numbers can plot, but may not plot if multiple like values are in succession. This issue affects the entire plot so the entire plot won't plot, not just the point(s) in question.

#### Expected vs Current Behavior

Show me the plots

[2021-11-05 20:31] akhenry commented on #3551
The improved status API could work like so:
[code]

1. Anywhere in the code where status is set does not need to change
2. Almost everywhere in the code where `openmct.status.get` is currently used can be replaced with a call to `openmct.status.getCssClasses(identifier)`, and the template code tweaked so that it no longer needs to add the `is-status--` prefix (which should really be `has-status--`

[2021-11-06 00:41] akhenry commented on #4439
Our plots store numbers as [Float32](https://github.com/nasa/openmct/blob/master/src/plugins/plot/chart/MCTChartSeriesElement.js#L30)s, but native JavaScript numbers are 64 bits. I suspect there's a loss of precision going on here.

eg.
[code]

I don't know what the implications would be of upgrading our plots to store numbers as Float32s, needs some investigation.

[2021-11-08 16:32] unlikelyzero opened #4440 "[Tests] Add playwright browsers to our karma configuration to speed up cached CI downloads (and maintain parity with e2e browser coverage)"
The last problem with our CI speed is that browsers need to be downloaded every pull. We should look into pulling down the playwright managed versions https://github.com/Onslip/karma-playwright-launcher to increase speed and increase overlap in e2e and unit testing.

[x] Switch CircleCI Base image to playwright's
[ ] Determine how to pin playwright base images in a way which can be versioned with

[2021-11-08 21:31] akhenry opened #4442 "Notebook embeds of plots should observe zoom and pan state"
**Is your feature request related to a problem? Please describe.**
When creating a notebook entry from a plot the conductor bounds at the time the embed is created are preserved and recreated when the embed is subsequently viewed.

Plot zoom and pan state is not preserved however, which could lead to important context being completely lost.

**Describe the solution you'd like**
Unsure what the cor

[2021-11-08 21:33] akhenry commented on #4442
[A pull request](https://github.com/nasa/openmct/pull/3115) has been submitted that uses the first approach.

[2021-11-08 23:25] akhenry opened #4443 "Couch Object Provider may fetch the same object for each observer."
**Is your feature request related to a problem? Please describe.**
From inspecting the Couch DB code it appears that if there are multiple observers for the same object, the Couch provider will [re-fetch the same object for each observer](https://github.com/nasa/openmct/blob/b8fabb7e73f901e45bf69b7d9629e201974ed92b/src/plugins/persistence/couch/CouchObjectProvider.js#L88).

**Describe the solution

[2021-11-08 23:28] akhenry commented on #4443
Although it's hopefully no longer applicable if the above change is made, generally speaking `await` inside of a loop is a bit of a code smell to me. Fetching objects generally does not need to happen sequentially, so we should use regular `Promise.then` calls to allow multiple object fetches to happen in parallel.

[2021-11-09 01:43] skrobchik commented on #3997
Is there anyone working on this? I'm interested in using the latest LTS version of Node with OpenMCT. Would like to help with this if it's the only issue holding upgrade back.

[2021-11-09 17:51] akhenry commented on #4362
So the reason you can't poll this in real time is that when you scrub the time conductor, the bounds don't actually update in the Time API until you release the mouse. The Time Conductor _**UI**_ tracks the start and end time in real-time as you scrub, but it doesn't fire a Time API bounds change until you release the mouse. This was by design. We only have one mechanism for pushing out bounds cha

[2021-11-09 18:25] khalidadil opened #4445 "Add links between parent Vue OpenMCT app and child apps to enable Vue devtools in child apps"
**Is your feature request related to a problem? Please describe.**
Right now we create multiple Vue apps for every view, one for the parent app and one or more for child apps. Vue devtools doesn't support inspecting multiple apps on a single page, so it only shows the state of the parent app, which isn't useful as most of the new work is happening in nested apps.

**Describe the solution you'd lik